.message
{
	padding: 5px 10px;
	border: 1px solid #ccc;
	background: #eee;
	margin-bottom: 10px;
	position: relative;
	padding-top: 20px;
}

.message .date 
{
	text-align: right;
	font-size: 80%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 5px;
	right: 5px;
}

h2 
{
	margin: 0;
	padding: 0;
}