<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
	<!-- BEGIN PAGE HEADER-->
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN PAGE TITLE-->
			<h3 class="page-title">
				Settings
			</h3>
			
			<!-- END PAGE TITLE-->
		</div>
	</div>
	<!-- END PAGE HEADER-->
	<!-- BEGIN PAGE CONTENT-->
	<div class="row profile">
		<div class="col-md-12">
			<!--BEGIN TABS-->
			<div class="tabbable tabbable-custom tabbable-full-width">
				<ul class="nav nav-tabs">
					{{#tabs}}
						<li>
							<a href="{{url}}">{{name}}</a>
						</li>
					{{/tabs}}
				</ul>
				<div class="tab-content">
				
				</div>
			</div>
			<!--END TABS-->
		</div>
	</div>
	<!-- END PAGE CONTENT-->
</div>




<!-- END PAGE CONTAINER--> 

<!--
<div class="text-container">
	<div class="title">
		<div class="holder">
			<div class="frame">
				<span class="category">
					<a href="#"><img src="images/ico1.png" alt="image description" width="25" height="28"></a>
				</span>
				<h2>{{title}}</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="holder">
			<div class="frame">

				<div class="scrollable-area" style="height: 400px;">
					<div class="loading"><p>Please wait, we are loading the page.</p></div>

					<div class="message-container"></div>
				</div>
			</div>
		</div>
	</div>
</div>
-->