<div class="tab-pane row settings-profile active" id="tab_1_1">

	<div class="col-md-4">
		<div class="collapse-open">
			<div class="panel grey">
				<div class="panel-heading line">
					<i class="fa fa-camera-retro"></i>{{#trans}}Profile picture{{/trans}}
					<div class="tools">
						<span class="collapse pull-right"></span>
					</div>
				</div>
				<div class="panel-body edit-user-avatar">
					
					<div id="user_avatar_big" class="fileupload-new thumbnail avatar-big" style="background-image: url({{user.avatar}})">
						<span class="loadingafter"></span>
					</div>
					<input type="file" />
					
					{{#authorized.ACCOUNT_SETTINGS}}
						<input id="add-file" class="btn btn-block btn-info" type="button" value="{{#trans}}Select{{/trans}}" />
						<input id="upload-file" class="btn btn-block black" type="button" value="{{#trans}}Upload{{/trans}}" />
					{{/authorized.ACCOUNT_SETTINGS}}

				</div>
			</div>
		</div>
		
		{{#authorized.ACCOUNT_SETTINGS}}
		<div class="collapse-closed">
			<div class="panel blue">
				<div class="panel-heading line expand-portlet">
					<i class="fa fa-key"></i>{{#trans}}Change Password{{/trans}}
					<div class="tools">
						<span class="collapse pull-right"></span>
					</div>
				</div>
				<div class="panel-body">
					
					<form action="javascript:void(0);" class="edit-user-password">
						<label class="control-label">{{#trans}}Current Password{{/trans}}</label>
						<input name="pass0" type="password" class="m-wrap col-md-12" />
						<label class="control-label">{{#trans}}New Password{{/trans}}</label>
						<input name="pass1" type="password" class="m-wrap col-md-12" />
						<label class="control-label">{{#trans}}Re-type New Password{{/trans}}</label>
						<input name="pass2" type="password" class="m-wrap col-md-12" />
						<div class="submit-btn">
							<button type="submit" class="btn green">{{#trans}}Change Password{{/trans}}</button>
							<a href="#" class="btn">{{#trans}}Cancel{{/trans}}</a>
							<span class="loadingafter"></span>
						</div>
					</form>
				</div>
				
			</div>
		</div>
		{{/authorized.ACCOUNT_SETTINGS}}
		
		<div class="alert alert-info">{{#trans}}Profile type{{/trans}}: <strong>{{user.role.name}}</strong></div>
		
	</div>
		
	<div class="col-md-8">
		<div class="tab-content">
			<div id="tab_1-1" class="tab-pane active">
				<div style="height: auto;">
					
					<h3>{{#trans}}Your Profile{{/trans}}</h3>
					
					<form action="javascript:void(0);" class="edit-user-profile">
						<label class="control-label">{{#trans}}First Name{{/trans}}</label>
						<input name="firstname" type="text" placeholder="John" class="m-wrap col-md-8" value="{{user.firstname}}" 
						{{^authorized.ACCOUNT_SETTINGS}}disabled{{/authorized.ACCOUNT_SETTINGS}}/>

						<label class="control-label">{{#trans}}Last Name{{/trans}}</label>
						<input name="name" type="text" placeholder="Doe" class="m-wrap col-md-8" value="{{user.name}}" 
						{{^authorized.ACCOUNT_SETTINGS}}disabled{{/authorized.ACCOUNT_SETTINGS}}/>

						<label class="control-label">{{#trans}}Mobile Phone{{/trans}}</label>
						<input name="mobile" type="text" placeholder="" class="m-wrap col-md-8" value="{{user.mobile}}" 
						{{^authorized.ACCOUNT_SETTINGS}}disabled{{/authorized.ACCOUNT_SETTINGS}}/>


						<label class="control-label">{{#trans}}Language{{/trans}}</label>
						<select name="locale" {{^authorized.ACCOUNT_SETTINGS}}disabled{{/authorized.ACCOUNT_SETTINGS}}>
							{{#langs}}
							<option value="{{id}}">{{name}}</option>
							{{/langs}}
						</select>

						{{#authorized.ACCOUNT_SETTINGS}}
						<div class="submit-btn">
							<button type="submit" class="btn green">{{#trans}}Save changes{{/trans}}</button>
							<button type="reset" class="btn" disabled="true">{{#trans}}Cancel{{/trans}}</button>
							<span class="loadingafter"></span>
						</div>
						{{/authorized.ACCOUNT_SETTINGS}}
					</form>
				</div>
			</div>
			
		</div>
	</div>                                  

</div>
