<div class="tab-pane row-fluid settings-profile active" id="tab_1_1">

	<div class="span4">
		<div class="collapse-open">
			<div class="portlet box grey">
				<div class="portlet-title line">
					<div class="caption"><i class="icon-camera-retro"></i>{{#trans}}profile picture{{/trans}}</div>
					<div class="tools">
						<span class="collapse pull-right"></span>
					</div>
				</div>
				<div class="portlet-body edit-user-avatar">
					
					<div id="user_avatar_big" class="fileupload-new thumbnail avatar-big" style="background-image: url({{user.avatar}})">
						<span class="loadingafter"></span>
					</div>
					<input type="file" />
					
					{{#authorized.ACCOUNT_SETTINGS}}
						<input id="add-file" class="btn btn-block btn-info" type="button" value="{{#trans}}select{{/trans}}" />
						<input id="upload-file" class="btn btn-block black" type="button" value="{{#trans}}upload{{/trans}}" />
					{{/authorized.ACCOUNT_SETTINGS}}
					<!--
					<form action="javascript:void(0);" class="edit-user-avatar" method="post" enctype="multipart/form-data">
						<div class="fileupload-new thumbnail avatar-big" style="background-image: url({{user.avatar}})"></div>
						<center>
							<input type="file" name="select file" id="file"><br><br>
							<button type="file" class="btn blue">{{#trans}}upload profile picture{{/trans}}</button>
						</center>
					</form>
					-->
				</div>
			</div>
		</div>
		
		{{#authorized.ACCOUNT_SETTINGS}}
		<div class="collapse-closed">
			<div class="portlet box blue">
				<div class="portlet-title line expand-portlet">
					<div class="caption"><i class="icon-key"></i>{{#trans}}change password{{/trans}}</div>
					<div class="tools">
						<span class="collapse pull-right"></span>
					</div>
				</div>
				<div class="portlet-body">
					
					<form action="javascript:void(0);" class="edit-user-password">
						<label class="control-label">{{#trans}}current password{{/trans}}</label>
						<input name="pass0" type="password" class="m-wrap span12" />
						<label class="control-label">{{#trans}}new password{{/trans}}</label>
						<input name="pass1" type="password" class="m-wrap span12" />
						<label class="control-label">{{#trans}}retype new password{{/trans}}</label>
						<input name="pass2" type="password" class="m-wrap span12" />
						<div class="submit-btn">
							<button type="submit" class="btn green">{{#trans}}change password{{/trans}}</button>
							<a href="#" class="btn">{{#trans}}cancel{{/trans}}</a>
							<span class="loadingafter"></span>
						</div>
					</form>
				</div>
				
			</div>
		</div>
		{{/authorized.ACCOUNT_SETTINGS}}
		
		<div class="alert alert-info">{{#trans}}profile type{{/trans}}: <strong>{{user.role.name}}</strong></div>
		
	</div>
		
	<div class="span8">
		<div class="tab-content">
			<div id="tab_1-1" class="tab-pane active">
				<div style="height: auto;">
					
					<h3>{{#trans}}your profile{{/trans}}</h3>
					
					<form action="javascript:void(0);" class="edit-user-profile">
						<label class="control-label">{{#trans}}first name{{/trans}}</label>
						<input name="firstname" type="text" placeholder="John" class="m-wrap span8" value="{{user.firstname}}" 
						{{^authorized.ACCOUNT_SETTINGS}}disabled{{/authorized.ACCOUNT_SETTINGS}}/>

						<label class="control-label">{{#trans}}last name{{/trans}}</label>
						<input name="name" type="text" placeholder="Doe" class="m-wrap span8" value="{{user.name}}" 
						{{^authorized.ACCOUNT_SETTINGS}}disabled{{/authorized.ACCOUNT_SETTINGS}}/>

						<label class="control-label">{{#trans}}mobile phone{{/trans}}</label>
						<input name="mobile" type="text" placeholder="" class="m-wrap span8" value="{{user.mobile}}" 
						{{^authorized.ACCOUNT_SETTINGS}}disabled{{/authorized.ACCOUNT_SETTINGS}}/>


						<label class="control-label">{{#trans}}language{{/trans}}</label>
						<select name="locale" {{^authorized.ACCOUNT_SETTINGS}}disabled{{/authorized.ACCOUNT_SETTINGS}}>
							{{#langs}}
							<option value="{{id}}">{{name}}</option>
							{{/langs}}
						</select>
						
						<!--
						<label class="control-label">Mobile Number</label>
						<input type="text" placeholder="+1 646 580 DEMO (6284)" class="m-wrap span8" />
						<label class="control-label">Interests</label>
						<input type="text" placeholder="Design, Web etc." class="m-wrap span8" />
						<label class="control-label">Occupation</label>
						<input type="text" placeholder="Web Developer" class="m-wrap span8" />
																			<label class="control-label">About</label>
						<textarea class="span8 m-wrap" rows="3"></textarea>
						<label class="control-label">Website Url</label>
						<input type="text" placeholder="http://www.mywebsite.com" class="m-wrap span8" />
						-->
						{{#authorized.ACCOUNT_SETTINGS}}
						<div class="submit-btn">
							<button type="submit" class="btn green">{{#trans}}save changes{{/trans}}</button>
							<button type="reset" class="btn" disabled="true">{{#trans}}cancel{{/trans}}</button>
							<span class="loadingafter"></span>
						</div>
						{{/authorized.ACCOUNT_SETTINGS}}
					</form>
				</div>
			</div>
			
		</div>
	</div>                                  

</div>
