<!-- Social Connections -->
<div class="tab-pane row">
	
	<div class="col-md-3 networks-list"></div>
	
	<div class="col-md-9">
	
		<div id="service-connected" class="panel blue">
			<div class="panel-heading">
				<i class="fa fa-cloud"></i>{{#trans}}Active social connections{{/trans}}
			</div>
			<div class="panel-body clearfix toload">
				
				<ul class="services"></ul>
				<div class="service-detail"></div>
			
			</div>
		</div>
		
	</div>
</div>
<!-- End Social Connections -->