<li class="service {{^valid}}disabled{{/valid}}" data-service="{{id}}">
	<span class="pull-right muted">
		{{#valid}}{{name}}{{/valid}}
		<span class="badge badge-red">disabled</span>
		<i class="fa fa-angle-right"></i>
	</span>
	<i class="fa fa-{{icon}}"></i> {{account}}
</li>