	<!-- Network option -->
	<span class="btn btn-lg btn-social" data-add-service="{{token}}">
		<i class="fa fa-{{icon}}"></i>{{#trans}}Add{{/trans}} {{name}}
	</span>
	<small>{{info}}</small>
	<!-- End Network option -->