<td>
	<img class="avatar" alt="{{user.name}}" src="{{#user.avatar}}{{user.avatar}}{{/user.avatar}}{{^user.avatar}}http://www.placehold.it/34/DDDDDD/FFFFFF&text=+{{/user.avatar}}">
</td>
<td>
	{{user.displayname}}
</td>
<td class="hidden-480">
	<small>{{user.email}}</small>
</td>
<td>
	<span class="badge badge-green">{{user.role}}</span>
</td>
<td>
	{{#authorized.USER_DELETE}}
		<i class="fa fa-remove pull-right" data-delete-user-id="{{user.id}}"></i>
	{{/authorized.USER_DELETE}}
	<i class="fa fa-pencil-square pull-right" data-edit-user-id="{{user.id}}"></i>
</td>