<div>
	<div class="title">
		<div class="holder">
			<div class="frame">
				<h3>{{user.firstname}} {{user.name}}</h3>
			</div>
		</div>
	</div>
	<div class="form-box">
		<div class="box-holder">
			<div class="box-frame">
				
				<form action="javascript:void(0);" class="edit-managed-user">
					<ul>
						<li>
							<label for="level">{{#trans}}clearance level{{/trans}}</label>
							<select id="level" name="level">
								{{#roles}}
									<option value="{{id}}" {{#checked}}selected="selected"{{/checked}}>{{name}}</option>	
								{{/roles}}
							</select>
						</li>

						<li>
							<button type="submit" class="btn black">{{#trans}}save{{/trans}}</button>
						</li>
					</ul>
				</form>

			</div>
		</div>
	</div>