<div {{#bigdata}}class="bigdata"{{/bigdata}}>
	<h4 class="pull-left">{{title}}</h4>

	{{#navigate}}
		<span class="navigate-buttons btn-group pull-right">
			<a class="btn" id="next"><i class="fa fa-caret-left"></i></a>
			<a class="btn" id="previous"><i class="fa fa-caret-right"></i></a>
		</span>
	{{/navigate}}
	<div class="clearfix"></div>
	<div id="cal-heatmap"></div>
</div>