<div class="panel blue messagelist">
	<div class="panel-heading line">
		<i class="fa fa-group icon-large"></i>{{#trans}}{{title}}{{/trans}}
		<div class="tools">
			<i class="fa fa-cloud-download"></i>
		</div>
	</div>

	<div class="panel-body toload">
		<div class="scroller">
			<ul class="entry-container"></ul>
			<div id="loadmore"></div>
		</div>
	</div>
</div>