<!-- New UI
<div class="row-fluid">
	<div class="span12">

		<div class="portlet box newgrey channelfilters">
			<div class="portlet-title line">
				<div class="caption"><i class="icon-tags icon-large"></i>{{#trans}}Filters{{/trans}}</div>
				{{#authorized.CHANNEL_MANAGE_EDIT_MONITORING}}
					<div class="pull-right">
						<a href="#keywords"><i class="icon-plus"></i> {{#trans}}Manage Keywords{{/trans}}</a>
					</div>
				{{/authorized.CHANNEL_MANAGE_EDIT_MONITORING}}
			</div>
			<div class="portlet-body">

				
				<div class="filter network-list social-icon-colors span4">
					
					{{#networks}}
						<div class="btn white active filter" data-network-streams="{{ids}}">
							<i class="icon-{{icon}}"></i>
						</div>
					{{/networks}}
					
					<li class="toggleall networks inactive">{{#trans}}select all{{/trans}}</li>
				</div>
				
				<div class="filter keyword-list span8">

					<ul>
					{{#keywords}}
						<li class="active filter" data-keyword-id="{{id}}">
							<i class="icon-tag icon-muted"></i> {{attributes.name}}
						</li>
					{{/keywords}}
						<li class="toggleall keywords inactive">{{#trans}}select all{{/trans}}</li>
					</ul>

				</div>

				<div class="building-notice inactive span12">
					<strong>{{#trans}}Building your data{{/trans}}</strong>
					<br>{{#trans}}This will take a minute or so.{{/trans}}
				</div>

			</div>
		</div>

	</div>
</div>
-->
<div class="row-fluid">
	<div class="span12">

		<div class="portlet box grey channelfilters">
			<div class="portlet-title line">
				<div class="caption"><i class="icon-tags icon-large"></i>{{#trans}}Filters{{/trans}}</div>
			</div>
			<div class="portlet-body">

				
				<div class="filter network-list social-icon-colors">
					
					{{#networks}}
						<div class="btn white active filter" data-network-streams="{{ids}}">
							<i class="icon-{{icon}}"></i>
						</div>
					{{/networks}}
					
					<div class="clear"></div>
					<br />
					
					<li class="toggleall networks inactive">{{#trans}}select all{{/trans}}</li>
				</div>
				
				<div class="building-notice inactive">
					<strong>{{#trans}}Building your data{{/trans}}</strong>
					<br>{{#trans}}This will take a minute or so.{{/trans}}
				</div>
								
				<hr />
				
				<div class="filter keyword-list">
					<label>{{name}} {{#trans}}Keywords{{/trans}}</label>
					<ul>
					{{#keywords}}
						<li class="active filter" data-keyword-id="{{id}}">
							<i class="icon-tag icon-muted"></i> {{attributes.name}}
						</li>
					{{/keywords}}
					</ul>
					
					<div class="clear"></div>
					<br />
					{{#authorized.CHANNEL_MANAGE_EDIT_MONITORING}}
						<small class="pull-right">
							<a href="#keywords">{{#trans}}Manage Keywords{{/trans}}</a>
						</small>
					{{/authorized.CHANNEL_MANAGE_EDIT_MONITORING}}
					
					<li class="toggleall keywords inactive">{{#trans}}select all{{/trans}}</li>
				</div>

			</div>
		</div>

	</div>
</div>
