<div class="row compoundchart">
	<div class="row">
		<div class="col-md-6 " id="col1"></div>
		<div class="col-md-6" id="col2"></div>	
	</div>
	<div class="row">
		<div class="col-md-12" id="row1"></div>
	</div>
</div>