
	<div class="pull-right contact-actions">
		<span class="muted">{{network.name}}</span>
		<a href="{{url}}" target="_blank"><span class="contact-link"><i class="fa fa-external-link"></i></span></a>
		<span class="contact-delete" data-id="{{id}}"><i class="fa fa-remove"></i></span></a>
	</div>
	
	<img class="avatar" alt="{{displayname}}" src="{{avatar}}">
	{{displayname}}
