	<!-- {{id}} -->
	<div class="pull-right">
		<span class="date" {{#date}}data-date="{{date}}"{{/date}}></span>
		{{#actions.length}}
			<span class="actions dropdown">
				<i class="icon-share-alt dropdown-toggle" data-toggle="dropdown"></i>
			
				<ul class="dropdown-menu">
				{{#hasactions}}
					{{#actions}}
						<li><a class="button-post action message-action" data-action="{{token}}"><i class="icon-{{icon}}"></i>{{#trans}}{{name}}{{/trans}}</a></li>
					{{/actions}}
				{{/hasactions}}
				</ul>
			</span>
		{{/actions.length}}
		<div class="media"><i class="icon-{{media}}"></i></div>

	</div>
	
	{{#attached}}
		{{#image}}
			<img src="{{url}}" class="pull-right attachment-image" alt="{{name}}" />
		{{/image}}
	{{/attached}}
	
	
	
	{{#from}}
		<img class="avatar" alt="" src="{{avatar}}">
		<strong><a>{{displayname}}</a></strong>
	{{/from}}
	
	<div class="content">
		
		{{#subject}}
		<strong>{{subject}}</strong><br />
		{{/subject}}
		
		{{{body.html}}}
		
		{{#attached}}
			{{#link}}
				<div class="attachment-link">
					<i class="icon-link"></i> <a href="{{url}}" target="_blank">{{shortlink}}</a>
				</div>
			{{/link}}
		{{/attached}}
	</div>
