<div class="row-fluid">
	<div class="span12">

		<div class="portlet box grey channelfilters">
			<div class="portlet-title line">
				<div class="caption"><i class="icon-group icon-large"></i>{{translate_co-workers}}</div>
			</div>
			<div class="portlet-body">

				<div id="filter_contacts" class="clearfix">

					<div class="loading-contacts pull-right hidden"></div><input type="text" class="input-rounded" placeholder="{{translate_search_co-workers}}" />
					
					<label class="hidden">{{#trans}}suggestions{{/trans}}</label>
					<ul class="contacts-suggestions"></ul>
				
				</div>
				
				<br />
				
				<div>
					<ul id="users-list" class="inner-loading">

					</ul>
					<div class="clear"></div>
					
					<br />
					<span class="toggleall inactive">{{#trans}}show all{{/trans}}</span>

					{{#authorized.USER_INVITE}}
						<small class="pull-right"><a  href="#settings/users">{{#trans}}manage users{{/trans}}</a></small>
					{{/authorized.USER_INVITE}}
					
				</div>

			</div>
		</div>

	</div>
</div>