<div class="dashboard-stat {{network.icon}}-color portlet-loading" data-network="{{network.icon}}" data-report="{{filterfunc}}">
	<div class="visual">
	{{icon}}
		<i class="fa fa-{{network.icon}}"></i>
	</div>

	{{#details}}
	<div class="details">
		<div class="number">
			{{content}}
		</div>
		<div class="desc">                           
			{{{descr}}}
		</div>
	</div>
	{{/details}}

	{{#footer}}
	<a class="more" href="#reports/{{streamid}}">
		{{{footer}}}
		<i class="fa fa-chevron-right pull-right"></i>
	</a>
	{{/footer}}
</div>