<div class="portlet box {{color}} dashboardwidget">
	<div class="portlet-title line">
		<div class="caption"><i class="icon-{{icon}}"></i>{{#trans}}{{title}}{{/trans}}</div>
		<div class="tools">

		</div>
	</div>
	<div class="portlet-body social-icon-colors toload {{scrollable}}">

		<div class="scroller" data-height="360px" data-always-visible="1" data-rail-visible1="1">
			<ul class="messages-container"></ul>
		</div>
	</div>
</div>