<div class="row">
	<div class="span12">

		<div class="portlet box grey channelfilters">
			<div class="portlet-title line">
				<div class="caption"><i class="fa fa-group icon-large"></i>{{#trans}}Editors{{/trans}}</div>
			</div>
			<div class="portlet-body">

				<div id="filter_contacts" class="clearfix">

					<div class="loading-contacts pull-right hidden"></div><input type="text" class="input-rounded" placeholder="{{#trans}}Search co-workers...{{/trans}}" />
					
					<label class="hidden">{{#trans}}Suggestions{{/trans}}</label>
					<ul class="contacts-suggestions"></ul>
				
				</div>
				
				<br />
				
				<div>
					<ul id="users-list" class="inner-loading">

					</ul>
					<div class="clear"></div>
					
					<br />
					<span class="toggleall inactive">{{#trans}}Show all{{/trans}}</span>

					<small class="pull-right"><a  href="#settings/users">{{#trans}}Manage users{{/trans}}</a></small>
				</div>

			</div>
		</div>

	</div>
</div>
