<div class="container-fluid">
	<!-- BEGIN PAGE HEADER-->
	<div class="row">
		<div class="col-md-12">
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN ALERTS PORTLET-->
			<div class="panel">
				<div class="panel-body">
					<p>&nbsp;</p>
					<div class="alert alert-error">
						{{error}}
					</div>
				</div>
			</div>
			<!-- END ALERTS PORTLET-->
		</div>
	</div>
	<!-- END PAGE CONTENT-->
</div>