<!-- {{title}} pageview -->

	<div class="row">
		<h3 class="page-title">{{title}}</h3>
	</div>

	<div id="widgetcontainer" class="firsttime row">
		
		<div class="col-md-2">
			<i class="fa fa-cloud giga-cloud"></i>
		</div>
		
		<div class="col-md-9 networks-list social-icon-colors">
			<h2>Welcome, {{displayname}}.</h2>
			<em>Let"s get started.</em>
		</div>
		
	</div>
	
	<div class="row">
		
		<div class="col-md-2"></div>
		
		<div class="col-md-9">
			<a class="btn black" id="ready">Ready</a>
			<br /><br /><br />
		</div>
		
	</div>
	
<!-- end pageview -->   