<div class="container-fluid">

	<div class="row-fluid">
		<div class="span8 offset2 freshload">
			  
			  <i classs="icon-cloud-download"></i>
			  <h5>Fresh Info</h5>
			  <small>Just a minute, we are fetching some information first</small>
		
		</div>
	</div>
</div>