<!-- Header -->

	<div class="container-fluid">
		
		<div class="navbar-header">
			<a class="navbar-brand" href="/#dashboard">
				<img src="/images/shield.png" class="brand-logo" alt="logo" />
				Cloudwalkers
			</a>

			<!-- Mobile navigation -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	           	<img src="{{user.avatar}}" class="nav-avatar" alt="{{user.displayname}}" /> 
          </button>
		</div>
		
		<div class="collapse navbar-collapse" id="navbar" aria-expanded="true">
			<ul class="nav navbar-nav hidden-xs">
				<li><a href="#coworkers" data-header-action="contacts"><i class="fa fa-users"></i></a></li>
				<li><a href="#inbox/messages" data-header-action="messages"><i class="fa fa-envelope"></i></a></li>
			</ul>     
           
			<ul class="nav navbar-nav navbar-right">
			
				<!-- User dropdown -->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle hidden-xs" data-toggle="dropdown">
						<img src="{{user.avatar}}" class="nav-avatar" alt="{{user.displayname}}" /> 
						<span>{{user.firstname}} {{user.name}}</span>
						<i class="fa fa-angle-down"></i>
					</a>
					
					<ul class="dropdown-menu" role="menu">
						<li role="presentation" class="dropdown-header hidden-xs">{{#trans}}Accounts{{/trans}}</li>
						{{#accounts}}
							<li class="account-selector{{#active}} active{{/active}}">
								<a href="#dashboard/{{id}}"><i class="fa fa-briefcase"></i> {{name}}</a>
							</li>
						{{/accounts}}
						<li class="account-selector divider"></li>
						{{#authorized.ACCOUNT_NOTES_MANAGE}}
							<!-- NOTES_ROLE -->
							<li><a data-header-action="writenote"><i class="fa fa-edit "></i> {{#trans}}Write Note{{/trans}}</a></li>
							<li class="account-selector divider"></li>
						{{/authorized.ACCOUNT_NOTES_MANAGE}}

						<li><a href="https://cloudwalkers.zendesk.com/hc/nl/requests/new" target="_blank"><i class="fa fa-medkit"></i> {{#trans}}Support{{/trans}}</a></li>
						<li class="divider"></li>
						<li><a href="#settings/profile"><i class="fa fa-cog"></i> {{#trans}}Profile settings{{/trans}}</a></li>
						<li class="divider"></li>
						<li><a href="#logout"><i class="fa fa-off"></i> {{#trans}}Log Out{{/trans}}</a></li>
					</ul>
				</li>

			</ul>
		</div>
	</div>

<!-- end Header -->