<div class="scroller clearfix">
	
	
	<div class="inbox-filter">
		{{^note}}
		<div class="filter-group social-icon-colors pull-right">
			<label>{{translate_networks}}</label>
			
			{{#networks}}
			<div class="btn-white active" data-networks="{{ids}}"><i class="icon-{{icon}}"></i></div>
			{{/networks}}
			
			<div class="btn-white toggle-streams" data-toggle="streams">{{translate_more}}</div>
		</div>
		{{/note}}
		<div class="filter-group">
			<label>{{translate_filters}}</label> 
			<div class="btn-white toggle-contacts" data-toggle="contacts">{{translate_contacts}}</div>
		</div>
	
	</div>
	
	<div id="filter_contacts" class="hidden clearfix">
		
		<ul class="contacts-placeholder"></ul>
		
		<div class="loading-contacts pull-right hidden"></div><input type="text" class="input-rounded" placeholder="{{translate_search_contacts}}" />
		
		<label class="hidden">{{translate_suggestions}}</label>
		<ul class="contacts-suggestions"></ul>
	
	</div>
	
	<div id="filter_streams" class="hidden clearfix">
	
		<ul class="social-icon-colors">
		{{#streams}}
			<li data-streams="{{id}}" class="btn-white active"><i class="icon-{{icon}}"></i> {{name}}</option>
		{{/streams}}
		</ul>
		<li class="toggleall inactive">{{translate_select_all}}</li>
	</div>
	
	<div class="clearfix">
		<ul class="list toload tabbed"></ul>
		<div id="loadmore"></div>
		<!--<input type="button" class="btn load-more" value="{{translate_load_more}}" />-->
	</div>
</div>