
<td class="{{network.icon}}-color" data-message-id={{id}}>
	<span class="pull-right">
		<span class="date" data-date="{{date}}">{{humandate}}</span>
	</span>

		<div class="icon">
			<i class="icon-{{icon}}"></i>
		</div>
				
		{{#from}}
			<strong><a href="{{url}}" target="_blank">{{name}}</a></strong>
		{{/from}}

		<div class='content'>
			{{{body.html}}}
		</div>
	</ul>
</td>