		{{#title}}<h3 class="page-title">{{#trans}}{{title}}{{/trans}}</h3>{{/title}}

		<div class="channelfilters">
			<div class="">

				<div class="userfilter">

					<div class="loading-contacts pull-right hidden"></div><input type="text" class="form-control input-rounded" placeholder="{{#trans}}Search co-workers...{{/trans}}" />
					
					<label class="hidden">{{#trans}}Suggestions{{/trans}}</label>
					<ul class="contacts-suggestions"></ul>
				
				</div>
				
				<br />
				
				<div>
					<ul id="userlist" class="inner-loading block">

					</ul>
					
					<br />
					<span class="badge showall inactive">{{#trans}}Show all{{/trans}}</span>

					{{#authorized.USER_INVITE}}
						<small class="pull-right"><a href="#settings/users">{{#trans}}Manage users{{/trans}}</a></small>
					{{/authorized.USER_INVITE}}
					
				</div>

			</div>
		</div>