<!-- {{title}} pageview -->

	<div class="row-fluid">
		<div class="span8 offset3">
			<h3 class="page-title">{{#trans}}{{title}}{{/trans}}</h3>
		</div>
	</div>

	<div id="widgetcontainer" class="row-fluid social-icon-colors">
		
		<div class="span2 column-bordered">
			<label>{{#trans}}Networks{{/trans}}</label>
			
			{{#networks}}
			<div class="btn-white active" data-network="{{token}}"><i class="icon-{{icon}}"></i></div>
			{{/networks}}
			
			<center>
				<br>
				<span class="toggleall inactive">{{#trans}}Show all{{/trans}}</span>
			</center>
		</div>
		
		<div class="span8 offset1">
			<div class="url-post">
				<input type="search" class="input-rounded input-large" placeholder="{{#trans}}Enter profile link ...{{/trans}}" />
				<span class="icon-search"></span>
			</div>
			<div class="info-container"></div>
			
			<ul class="contacts-list"></ul>
			
		</div>
		
	</div>
	
<!-- end pageview -->