<div class="note-header">
	{{#user}}
		<img class="avatar" alt="" src="{{avatar}}" />
		<strong>{{displayname}} </strong>
	{{/user}}
	{{^user}}
		<i class="icon-cloud-download"></i>
	{{/user}}

	{{#authorized.ACCOUNT_NOTES_MANAGE}}
	<div class="inline-actions pull-right hidden">
		<div class="notification-action" data-notification-action="delete"><i class="icon-remove"></i></div>
		<div class="notification-action" data-notification-action="edit"><i class="icon-pencil"></i></div>
	</div>
	{{/authorized.ACCOUNT_NOTES_MANAGE}}
	{{#user}}
		{{#date}}
			<div class="comment-info pull-right">{{fulldate}}</div>
		{{/date}}
	{{/user}}
</div>

<div class="note-body">{{{text}}}</div>


