<div class="panel messages-counter">
	<div class="panel-heading">
		<i class="fa fa-{{icon}}"></i>{{#trans}}{{title}}{{/trans}}
	</div>

	<div class="panel-body {{scrollable}}">
		<div class="scroller" data-height="240px" data-always-visible="1" data-rail-visible1="1">
			<ul class="entry-container messages-list"></ul>
		</div>		
	</div>
<div>