

<li class="{{#objectType}}timeline-blue{{/objectType}}{{^objectType}}timeline-empty{{/objectType}} {{networktoken}}-color" data-message-id="{{id}}">
	<div class="timeline-time">
		<span class="date">{{dateonly}}</span>
		
			<span class="time">{{#trendview}}{{engagement}}{{/trendview}}{{^trendview}}{{time}}{{/trendview}}</span>
		
	</div>

	<div class="timeline-icon"><i class="icon-{{#icon}}{{icon}}{{/icon}}{{^icon}}cloud-download{{/icon}}"></i></div>

	<div class="timeline-body">
		{{#objectType}}
		{{#hasactions}}
		<span class="actions dropdown pull-right"> 
			<i class="icon-share-alt dropdown-toggle" data-toggle="dropdown"></i>
			<ul class="dropdown-menu">
				{{#actions}}
					<li><a class="button-post action message-action {{hidemetoken}}" data-action="{{token}}"><i class="icon-{{icon}}"></i> {{name_translated}}</a></li>
				{{/actions}}
			</ul>
		</span>
		{{/hasactions}}
		<div class="timeline-content">
			
			{{#attached.image}}
				<img class="timeline-img pull-right" src="{{url}}" alt="" />
			{{/attached.image}}
			
			{{#attached.video}}
				<div class="pull-right timeline-video inactive" data-youtube="{{url}}" style="background-image: url({{image}});"></div>
			{{/attached.video}}
			
			{{#from}}

				{{#showcontact}}
					<a class="timeline-user viewdetails" data-action="viewcontact" title="{{icon}} {{displayname}}">{{displayname}}</a>
				{{/showcontact}}
				{{^showcontact}}
					<a class="timeline-user viewdetails" title="{{icon}}" target="_blank" href="{{url}}">{{displayname}}</a>
				{{/showcontact}}
				<!-- CONTACTS_ROLE -->
				
				<br />
			{{/from}}
			
			

			{{#subject}}
				<strong>{{subject}}</strong><br />
			{{/subject}}

			{{{body.html}}}

			
			
			{{#attached.link}}
				<br />
				<div class="attachment-link">
					<i class="icon-link"></i> <a href="{{url}}" target="_blank">{{shortlink}}</a>
				</div>
			{{/attached.link}}
		</div>
		
		<div class="timeline-footer">
			{{#statistics}}
				<strong class="interaction"><i class="icon-{{icon}}"></i> {{value}} {{name_translated}}</strong>
			{{/statistics}}

		 	{{#canHaveChildren}}
			 	<span {{#children_count}}data-notifications="true"{{/children_count}}>
			 		<span class="comments"><i class="icon-comment"></i> {{children_count}} {{translate_comments}}</span>
			 	</span>
			 {{/canHaveChildren}}

			 {{#hasnotes}}
				{{#authorized.ACCOUNT_NOTES_VIEW}}
					<a href="#notes"><span class="interaction"><i class="icon-edit"></i> <span class="notescount">{{hasnotes}}</span> {{translate_notes}}</span></a>
				{{/authorized.ACCOUNT_NOTES_VIEW}}
				{{^authorized.ACCOUNT_NOTES_VIEW}}
					<span class="interaction"><i class="icon-edit"></i> {{hasnotes}} {{translate_notes}}</span>
				{{/authorized.ACCOUNT_NOTES_VIEW}}
			{{/hasnotes}}
			 
			 <ul class="timeline-comments">
				 
			 </ul>
		</div>
		{{/objectType}}
	</div>
</li>