<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Scheduled</th>
			<th>Media</th>
			<th class="hidden-480">Message</th>
			<th></th>
		</tr>
	</thead>
	<tbody class="messages-container">
		<tr><td colspan="4" class="inner-loading"></td></tr>
	</tbody>
</table>