<div class="panel {{color}} messagelist mini">
	<div class="panel-heading line">
		<i class="fa fa-{{icon}}"></i>{{#trans}}{{title}}{{/trans}}
		<div class="tools">

		</div>
	</div>
	<div class="panel-body toload {{scrollable}}">

		<div class="scroller" data-height="360px" data-always-visible="1" data-rail-visible1="1">
			<ul class="entry-container"></ul>
		</div>
	</div>
</div>