<!-- New UI <div class="portlet box newgrey messagelist" id="monitorlist"> -->
<div class="portlet box blue messagelist" id="monitorlist">
	<div class="portlet-title line">
		<div class="caption"><i class="fa fa-tags icon-large"></i>{{name}}</div>
		<div class="tools">
			<i class="fa fa-cloud-download"></i>
		</div>
	</div>

	<div class="portlet-body social-icon-colors toload">
		<div class="scroller">
			<ul class="messages-container"></ul>
			<div id="loadmore"></div>
			<!--<input type="button" class="btn load-more" value="{{#trans}}load more{{/trans}}" />-->
		</div>
	</div>
</div>