<div class="panel panel-info">
	<div class="panel-heading">
		<i class="fa fa-{{icon}}"></i>{{title}}
	</div>
	<div class="panel-body">
		{{body}}
	</div>
	<div class="panel-footer">
		{{footer}}
	</div>
</div>