<!-- {{id}} -->
	<td>{{scheduledate}}</td>
	<td>
	{{#streams}}
		<div class="network"><i class="fa fa-{{network.icon}}"></i>{{name}}</div>
	{{/streams}}
	</td>
	<td class="ellipsed-25">
		{{#subject}}{{subject}}{{/subject}}
		{{^subject}}{{body.plaintext}}{{/subject}}
	</td>
	<td>
		<span class="pull-right" data-action="delete"><i class="fa fa-remove"></i></span>
		<span class="pull-right" data-action="edit"><i class="fa fa-edit-sign"></i></span>
	</td>