<div class="panel blue messagelist" id="monitorlist">
	<div class="panel-heading line">
		<i class="fa fa-time icon-large"></i>{{#trans}}Scheduled messages{{/trans}}
		<div class="tools">
			<!-- <i class="fa fa-cloud-download"></i> -->
		</div>
	</div>

	<div class="panel-body social-icon-colors toload">
		<div class="scroller">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<td>{{#trans}}Start date{{/trans}}</td>
						<td>{{#trans}}Networks{{/trans}}</td>
						<td>{{#trans}}Message{{/trans}}</td>
						<td><small>{{#trans}}Actions{{/trans}}</small></td>
					</tr>
				</thead>
				<tbody class="entry-container"></tbody>
			</table>
		</div>
	</div>
</div>