<div class="portlet box blue messagelist" id="monitorlist">
	<div class="portlet-title line">
		<div class="caption"><i class="icon-time icon-large"></i>{{title}}</div>
		<div class="tools">
			<!-- <i class="icon-cloud-download"></i> -->
		</div>
	</div>

	<div class="portlet-body social-icon-colors toload">
		<div class="scroller">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<td>{{translate_start_date}}</td>
						<td>{{translate_networks}}</td>
						<td>{{translate_message}}</td>
						<td><small>{{translate_actions}}</small></td>
					</tr>
				</thead>
				<tbody class="messages-container"></tbody>
			</table>
		</div>
	</div>
</div>