<div class="sentiment main class-{{sentiment}}">
	<img src="/assets/img/sentiment/sentiment-{{sentiment}}.png" alt="sentiment"/>
	<div class="notification-action hidden" data-notification-action="edit"><i class="icon-pencil"></i></div>

	<div class="sentiment-edit">
		<div class="sentiment class-0" data-sentiment="0"><img src="/assets/img/sentiment/sentiment-0.png" alt="sentiment"/></div>
		<div class="sentiment class-1" data-sentiment="1"><img src="/assets/img/sentiment/sentiment-1.png" alt="sentiment"/></div>
		<div class="sentiment class-2" data-sentiment="2"><img src="/assets/img/sentiment/sentiment-2.png" alt="sentiment"/></div>
		<div class="sentiment class-3" data-sentiment="3"><img src="/assets/img/sentiment/sentiment-3.png" alt="sentiment"/></div>
		<div class="sentiment class-4" data-sentiment="4"><img src="/assets/img/sentiment/sentiment-4.png" alt="sentiment"/></div>
	</div>
</div>