<div class="single-contact {{network.token}}-color" data-id="{{id}}">
	<img class="avatar" alt="" src="{{avatar}}">
	<div class="name">
		<strong>{{displayname}}</strong>
		<!--<div data-contact={{contact}}>{{displayname}}</div>-->
		<br /><a class="muted" href="{{url}}">{{url}}</a>
	</div>
	<i class="fa fa-{{network.token}}"></i>
	<!--<div class="network-icon {{network.token}}-color">

	</div>-->
	<div class="clearfix"></div>
</div>