<div class="messagelist slim">
	<div class="scroller clearfix">	
		<div class="listfilter">
			{{^note}}
			<div class="filter-group pull-right">
				<label>{{#trans}}Networks{{/trans}}</label>
				
				{{#networks}}
				<div class="btn-white active" data-networks="{{ids}}"><i class="fa fa-{{icon}}"></i></div>
				{{/networks}}
				
				<div class="btn-white toggle-streams" data-toggle="streams">{{#trans}}more...{{/trans}}</div>
			</div>
			{{/note}}
			<div class="filter-group">
				<label>{{#trans}}Filters{{/trans}}</label> 
				<div class="btn-white toggle-contacts" data-toggle="contacts">{{#trans}}Contacts{{/trans}}</div>
			</div>
			<div class="clearfix"></div>
		</div>
		
		<div id="filter_contacts" class="hidden clearfix">
			
			<ul class="contacts-placeholder"></ul>
			
			<div class="loading-contacts pull-right hidden"></div><input type="text" class="form-control input-rounded" placeholder="{{#trans}}Search contacts...{{/trans}}" />
			
			<label class="hidden">{{#trans}}Suggestions{{/trans}}</label>
			<ul class="contacts-suggestions"></ul>
		
		</div>
		
		<div id="filter_streams" class="hidden clearfix">
		
			<ul class="social-icon-colors">
			{{#streams}}
				<li data-streams="{{id}}" class="btn-white active"><i class="fa fa-{{icon}}"></i> {{name}}</option>
			{{/streams}}
			</ul>
			<li class="toggleall inactive">{{#trans}}select all{{/trans}}</li>
		</div>
		
		<div class="clearfix">
			<ul class="entry-container toload tabbed"></ul>
			<div id="loadmore"></div>
			<!--<input type="button" class="btn load-more" value="{{#trans}}load more{{/trans}}" />-->
		</div>
	</div>
</div>