<li data-user="{{id}}" class="smalluser">
	{{#arrow}}<i class="pull-right fa fa-angle-right"></i>{{/arrow}}
	<div class="avatar small" style="background-image: url({{avatar}})"></div>
	<div class="username">{{displayname}}</div>
	<div class="clearfix"></div>
</li>