	<div class="pull-right specs">
		<span class="date" data-date="{{date}}"></span>
		<div class="context-icon-{{parent.objectType}}"></div>
	</div>
	
	<div class="note-subject">
		
		{{^inboxview}}
			{{#user}}		
				<div class="avatar" alt="{{displayname}}" style="background-image:url({{avatar}})"></div>
				<strong>{{displayname}}</strong>
			{{/user}}
		{{/inboxview}}
		{{#inboxview}}
			{{#CONTACT}}
				{{#parent}}
					<div class="avatar" alt="{{displayname}}" style="background-image:url({{avatar}})"></div>
					<strong>{{displayname}}</strong>
				{{/parent}}
			{{/CONTACT}}

			{{#MESSAGE}}
				{{#parent}}
					<div class="avatar" alt="{{parent.from.0.displayname}}" style="background-image:url({{parent.from.0.avatar}})"></div>
					<strong>{{parent.from.0.displayname}}</strong>
					on {{parent.networkdescription}}
				{{/parent}}
			{{/MESSAGE}}

			{{#ACCOUNT}}
				{{#user}}
					<div class="avatar" alt="{{displayname}}" style="background-image:url({{avatar}})"></div>
					{{displayname}}
				{{/user}}
			{{/ACCOUNT}}
		{{/inboxview}}
	
	</div>
	
	<div class="content" data-id="{{id}}">
		{{{intro}}}
	</div>
