<div class="timeline-bg"></div>
	
<div class="filterbanner filter network-list social-icon-colors" id="timeline-filters">
	<section id="timeline-filters-section">
		<div class="filter-bg">
			<span class="caption">{{#trans}}Filters{{/trans}}:</span>

			{{#networks}}
				<div class="btn-white filter" data-networks="{{ids}}">
					<i class="icon-{{icon}}"></i>
				</div>
			{{/networks}}
			{{^networks}}
				<span class="loadingafter"></span>
			{{/networks}}

			<div class="btn-white pull-right" data-toggle="streams">
				{{#trans}}more...{{/trans}}
			</div>
			<!--<li class="toggleall networks inactive">{{#trans}}select all{{/trans}}</li>-->
		</div>

		<div id="filter_streams" class="clearfix" style="display: none;">	
			<ul class="social-icon-colors">
				{{#streams}}
					<li data-streams="{{id}}" class="btn-white active"><i class="icon-{{icon}}"></i> {{name}}</option>
				{{/streams}}
				</ul>
			<li class="toggleall inactive">{{#trans}}select all{{/trans}}</li>
		</div>

	</section>
	
</div>

<ul class="timeline social-box-colors messages-container" id="pages"></ul>