<li class="timeline-blue timeline-loading">
	<div class="timeline-time"></div>
	<div class="timeline-icon entry-loading"></div>
	<div class="timeline-body more">
		<span>{{#trans}}Loading{{/trans}}...</span>
	</div>
</li>

<li class="timeline-grey load-more">
	<div class="timeline-info"></div>
	<div class="timeline-icon"><i class="icon-chevron-down"></i></div>
	<div class="timeline-body more">
		<span>{{#trans}}View more{{/trans}}</span>
	</div>
</li>

<li class="timeline-grey timeline-loading no-content">
	<div class="timeline-time">
		<span class="date"></span>
		<span class="time"></span>
	</div>
	<div class="timeline-icon"><i class="icon-adjust"></i></div>
	<div class="timeline-body more">
		<strong>{{#trans}}No messages{{/trans}}</strong>
	</div>
</li>