<h4>{{#trans}}{{title}}{{/trans}}</h4>

<div class="commentballoon {{icon}}-color inner-loading">
	
	{{#statistics}}
	<div class="scoreballoon">
		<b>{{value}}</b>
		<p>{{name}}</p>
	</div>
	{{/statistics}}

	<h6>{{date}}</h6>
	<h4>{{from}}</h4>
	{{body}}

	{{#links}}
		<br />
		<div class="attachment-link">
			<i class="fa fa-link"></i> <a href="{{url}}" target="_blank">{{shortlink}}</a>
		</div>
	{{/links}}

	<div class="network-icon">
		<table>
			<tbody>
				<tr><td><i class="fa fa-{{icon}}"></i></td></tr>
			</tbody>
		</table>		
	</div>
</div>
