
	<!-- User data -->

	<div class="contactupper">
		<div class="contact-header {{network.token}}-color">
			<a href="{{url}}" target="_blank">
				<h5>{{displayname}}</h5>
				<div class="network-icon">
					<i class="icon-{{network.token}}"></i>
				</div>
				<span><i class="icon-chevron-right"></i></span>				
			</a>
		</div>
		<div class="contactavatar" style="background-image: url({{avatar}})">
		</div>
		
	</div>	
	
	<div class="contactbottom">
		<div id="contactfilter">
			<ul>
				<li class="btn-white active" data-type="messages"><span>{{#trans}}latest messages{{/trans}}</span><i class="pull-right icon-angle-right"></i></li>
				<li class="btn-white inactive" data-type="conversation"><span>{{#trans}}latest conversations{{/trans}}</span><i class="pull-right icon-angle-right"></i></li>
				{{#authorized.ACCOUNT_NOTES_MANAGE}}
					<li class="btn-white inactive" data-type="note"><span>{{#trans}}contact notes{{/trans}}</span><i class="pull-right icon-angle-right"></i></li>
				{{/authorized.ACCOUNT_NOTES_MANAGE}}
				{{^authorized.ACCOUNT_NOTES_MANAGE}}
					{{#authorized.ACCOUNT_NOTES_VIEW}}
						<li class="btn-white inactive" data-type="note"><span>{{#trans}}contact notes{{/trans}}</span><i class="pull-right icon-angle-right"></i></li>
					{{/authorized.ACCOUNT_NOTES_VIEW}}
				{{/authorized.ACCOUNT_NOTES_MANAGE}}
			</ul>
		</div>		
	</div>
	
	{{#authorized.ACCOUNT_NOTES_MANAGE}}
	<div class="contactactions">
		<div class="btn-white" data-action="write-note"><i class="icon-edit"></i>{{#trans}}add contact note{{/trans}}</div>
	</div>
	<div id="notecontainer"></div>
	{{/authorized.ACCOUNT_NOTES_MANAGE}}

	<!-- TAGS -->
	<div class="message-tags pull-right">
		{{#authorized.ACCOUNT_TAGS_MANAGE}}
			<div class="btn-white pull-right edit" data-action="tag-showedit"><i class="icon-tags"></i></div>
			<ul class="tag-list"></ul>
			<div class="tag-input-append">
				<input id="tags" type="text" autocomplete="off">
				<button class="btn-white" type="button" data-action="tag-add">{{#trans}}add{{/trans}} <i class="icon-tag"></i></button>
			</div>
		{{/authorized.ACCOUNT_TAGS_MANAGE}}
		{{^authorized.ACCOUNT_TAGS_MANAGE}}
			{{#authorized.ACCOUNT_TAGS_VIEW}}
				<ul class="tag-list"></ul>
			{{/authorized.ACCOUNT_TAGS_VIEW}}
		{{/authorized.ACCOUNT_TAGS_MANAGE}}
	</div>
	<!-- END TAGS -->


<div style="clear:both"></div>