<!-- BEGIN PORTLET-->
<div class="panel {{color}}">
	<div class="panel-heading line">
		<i class="fa fa-{{icon}}"></i>{{title}}
		<div class="tools">
			{{#tools}}
				<a href="javascript:void(0);" class="{{class}}"></a>
			{{/tools}}
		</div>
	</div>
	<div class="panel-body">
		
	</div>
</div>
<!-- END PORTLET-->