/***
Compose Page
***/

.portlet-title .caption i	{ margin: 2px 12px 0 0; font-size: inherit; }

#message .message-body	{ background: white; }

button.btn.blue	{ background: #2bbedc; }
button.btn.blue:hover	{ background-color: #666 !important; }

.add-data	{ margin-top: 24px; }

.channels .btn.white	{
	border-radius: 2px !important; border: 1px solid #eee; border-bottom: #ccc solid 3px; background: white;
	padding: 0;
}

.channels .btn.white label
{
	padding: 7px 14px;
	margin: 0;
}

.btn.white:hover	{
	border-bottom: #ccc solid 1px; background-color: white !important;
}

.btn.white.active	{
	border: 1px solid green;
}

.message-schedule	{ margin-top: 10px; }