/***
Dashboard Page
***/

/* Dashboard Timeline */
.timeline-body.more	{
	padding: 16px 40px 18px !important; width: 25%;
}
.timeline .more a	{ color: white; }

.timeline-body .timeline-img	{ margin-bottom: 6px !important; }

.timeline-footer .pull-right	{
	margin: 0 5px !important;
}


/**
* Message counter block
*/
.messages-counter .messages-header	{
	background: #2bbedc; padding: 12px 8px 6px; position: relative; top: -6px;
	color: white; text-align: center; font-size: 1.2em;
}

.messages-counter .messages-header.unread-0	{ background: #eee; }

.messages-counter .messages-header.unread-0 strong	{ font-weight: normal; }

.messages-counter .messages-header .number strong	{ font-size: 1.2em; }

.messages-counter .messages-stream li	{
	min-height: 20px; margin: 0; padding: 10px 8px; background:#fff; border: 1px solid #ddd; border-bottom-width: 0;
	font-size: 14px; font-weight: 300;
}

.messages-counter .messages-stream > li:nth-child(odd)	{ background:#f5f5f5 }

.messages-counter .messages-stream li:hover	{ background:#eee; }

.messages-counter .messages-stream > li:last-child	{ border-bottom-width: 1px; }

.messages-counter .messages-stream span	{
	float: right; background: #b1e2ec; border-radius: 5px !important; padding: 0 6px;
	color: white; font-weight: bold;
}

.messages-counter .messages-stream span.unread-0	{
	background: #eee; font-weight: normal;
}

.messages-counter .messages-stream i	{
	font-size: 18px; float: left; padding: 2px 4px 6px 0;
}


/*.message-counter .streams li .clearer
{
  clear: both;
}

.messages-counter .streams li
{
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.messages-counter .streams li i
{
  float: left;
  font-size: 14px;
  line-height: 20px;
  margin-right: 10px;
  margin: 10px 0;
}

.messages-counter .streams li h4
{
  float: left;
  font-size: 14px;
}

.messages-counter .streams li p.number
{
  float: right;
  margin: 10px 0;
  font-family: inherit;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
  font-size: 14px;
  font-weight: 300;
}*/
