#demokeywords .inactive{
	display: none;
}
#demokeywords .demo_bubble{
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
	padding: 0px 10px;
	border-radius: 20px;
	text-decoration: none !important;
	margin: 0px 0px 4px 0px;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
}
#demokeywords #demo_plus{
	padding: 2px 10px;
}
#demokeywords #demo_plus:hover{
	background-color: #31708f;
	border-color: #bce8f1;
	color: #d9edf7;
}
#demokeywords section#keyword_filter{
	padding: 4px;
}
#demokeywords .demo_contains {
	padding-right: 0px;
}
#demokeywords .demo_bubble_text {
	background-color: #fff;
	border-radius: 20px;
	padding: 2px 10px;
	border: 1px #d9edf7 solid;
	display: inline-block;
}
#demokeywords .demo_and {
	background-color: #dff2dc;
	color: #333;
	padding: 2px 10px;
}
#demokeywords .demo_or {
	background-color: #f5f2da;
	color: #333;
	padding: 2px 10px;
}
#demokeywords .demo_options {
	display: none;
	position: absolute;
	border-radius: 10px;
	padding: 2px 0;
	margin: -22px 0 0 0;
	background-color: #fff;
	border: 1px #d9edf7 solid;
	color: #31708f;
}
#demokeywords .demo_options li{
	padding: 0 5px;
	min-width: 20px
}
#demokeywords .demo_options li:hover{
	background-color: #eee;
}
#demokeywords .demo_doesntcontain {
	color: #e02222;
}
#demokeywords #demo_plus .demo_options{
	margin: -22px 0 0 18px;
}
.demo_bubble i{
	padding: 3px 0px;
}