/**
 *	Experimental inbox
**/

#inbox h1	{
	font-size: 18px; line-height: 34px; text-align: center;
}

#inbox > div.container	{
	border: 1px solid #e6e6e6; background: #eee; z-index: 1; box-shadow: inset 0 0 3px #d6d6d6;	
}

/**
* Inbox Container
*/

#inbox,
#inbox #list,
#inbox > div.container	{
	height: inherit; max-height: inherit;
}

#inboxcontainer #widgetcontainer > .row-fluid > .span8, #inbox	{ max-height: inherit; }

#inboxcontainer #widgetcontainer .span8	{
	margin-top: 8px;/
}

#inboxcontainer.inner-empty:after	{ content: "no messages"; }

#list	{ background-color: white; border-right: 1px solid #ddd; }

#list .message-view > td	{ border: 1px solid #ddd; border-width: 0 1px 1px 0 !important; }

#list li	{
	background: none; border-width: 0; min-height: auto !important; padding: 0 8px !important;
}
#list li .date	{ font-size: 13px !important; }

/**
 *	Inbox
 */

#inboxcontainer .message-view	{ overflow: hidden; min-height: 400px; }

#inboxcontainer .portlet > .portlet-title > .caption i	{ color: white; }

/**
* Inbox Container (new)
*/

.inbox #widgetcontainer	{
	border: 1px solid #e6e6e6; background: #eee; z-index: 1; box-shadow: inset 0 0 3px #d6d6d6;
}



/*.inbox.loading h3.page-title:after	{
	float: right; width: 10%; height: 21px; display: block;
	text-align: right; font-family: FontAwesome; font-size: 21px; color: #ddd; line-height: 2.4em; 
	content: "\F0ED"; -webkit-font-smoothing: antialiased;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-name: opacitypulse;
	-webkit-animation-iteration-count: infinite;
}*/

#inboxlist {
	background: white; border-right: 2px solid #dfdfdf; box-shadow: 0 0 1px rgba(0,0,0,.1)
}

#inboxlist .scroller	{ padding-right: 0 !important; }

#inboxlist ul	{ margin: 0; list-style: none; }

#inboxlist .load-more	{ margin: 0; }


#inboxlist .list > li:nth-child(odd),
#inboxlist .list > a:nth-child(odd) li	{ background:#f5f5f5; }

#inboxlist .list li:hover	{ background:#f9f9f9; }

#inboxlist .list > li:nth-child(odd):hover,
#inboxlist .list > a:nth-child(odd) li:hover	{ background: #efefef; }

#inboxlist .list li.active,
#inboxlist .list li.active:hover,
#inboxlist .list li.active strong,
#inboxlist .list li.active .date,
#inboxlist .list li.active .media	{
	background: #2bbedc !important;
	color: white;
}

#inboxlist .list li.failed{
	background-color: #f2dede;
	border: thin solid #ebccd1;
}

#inboxlist .list li.failed .date,
#inboxlist .list li.failed strong,
#inboxlist .list li.failed .content{
	color: #e02222 ;
}

#inboxlist .list li.failed:hover{
	background-color: #eed3d7;
}

#inboxlist .list li.failed .media{
	background: #e02222 ;
}

#inboxlist .list li.active.failed,
#inboxlist .list li.active.failed:hover,
#inboxlist .list li.active.failed strong,
#inboxlist .list li.active.failed .date,
#inboxlist .list li.active.failed .media	{
	background: #e02222  !important;
	color: white;
}

#inboxlist .list li.active .content	{ color: #bbebf9; }

#inboxlist .list li.unread { line-height: 24px; background: #e3f1f8; }
#inboxlist .list li.unread:nth-child(odd) { line-height: 24px; background: #d9edf7; }
#inboxlist .list li.unread .dot { display: block; }
#inboxlist .list li.unread .media i { display: none; }
#inboxlist .list li.unread .media 	{ background: none; }
#inboxlist .list li.unread .date	{ color: #005580; font-weight: bold; }

#inboxlist .list span.number	{
	float: right; background: #b1e2ec; border-radius: 5px !important; padding: 0 6px;
	color: white; font-weight: bold;
}

#inboxlist .list span.number.unread-0	{
	background: #eee; font-weight: normal;
}

#inboxlist .list p	{ margin: 0px; }

#inboxlist .list .icon	{ float: left; margin-right: 8px; color: #2bbedc; font-size: 18px; padding: 2px 4px 0 0; vertical-align: center; }
#inboxlist .list .icon-right	{ float: right; color: #666; font-size: 1.3em; }

#inboxlist .list .dot {
	display: none;
	width: 10px;
	height: 10px;
	margin-left: 10px;
	border: 2px solid white;
	border-radius: 50% !important;
}
.dot { background-color: #5373d0; }

#inboxlist .list li .content{
	clear: left;
}

#inboxlist .list li > strong{
	position:relative;
	top: 2px;
}

#inboxlist .list .avatar {
	position: relative;
	top: 2px;
	margin: 0 8px 5px 0;
	width: 22px;
	height: 22px;
	background-color: #ddd;
	border-radius: 50% !important; 
	background-size: cover;
	float: left;
	background-position: center;
}

#inboxlist .list li.active .avatar {
	width: 18px; height: 18px; border: 2px solid white;  background-color: #ddd; border-radius: 50% !important; 
}

#inboxlist .list strong	{ color: #005580; }

#inboxlist .list a { color: black; }

#inboxlist .list div.pull-right	{ margin-left: 10px; }

#inboxlist .list .date	{
	display: block; width: 24px; height: 16px; margin: 0 0 4px 0; overflow: visible; 
	color: #aaa; font-style: italic; text-align: right; line-height: 20px; 
}
#inboxlist .list .date	{ font-size: 12px; }

#inboxlist .list .media	{
	width: 12px; height: 14px; padding: 1px 2px; margin: 0 0 0 8px; background: #b1e2ec; border-radius: 2px !important;
	color: white; text-align: center; line-height: 12px;
}
#inboxlist .list .media	i	{ font-size: 10px; }

#inboxlist .list .link i,
#inboxlist .list .dropdown-toggle.icon-share-alt	{
	padding: 2px 0 2px 1px; background-color: #555 !important; border-radius: 2px; float: none;
	color: white; font-size: 12px;
}
#inboxlist .list .dropdown-toggle.icon-share-alt:hover	{ background-color: #333 !important; }

#inboxlist .list .link,
#inboxlist .list .trending	{
	display: block; min-width: 14px; height: 16px; padding: 0 1px; margin: 2px 0 2px 8px; background: #555; border-radius: 2px !important;
	color: white; font-size: 10px; text-align: center; line-height: 16px;
}
#inboxlist .list .trending-0	{ background: #ccc; }

#inboxlist .list .link i.icon-picture	{ font-size: 11px; }

#inboxlist .list .link:hover	{
	text-decoration: none; background: #333;
}

/* Notes Variation */
.inbox-notes #inboxlist .list li.active,
.inbox-notes #inboxlist .list li.active:hover,
.inbox-notes #inboxlist .list li.active strong,
.inbox-notes #inboxlist .list li.active .date,
.inbox-notes #inboxlist .list li.active	{
	background: #F2F0A0 !important;
	color: inherit;
}

.inbox-notes #inboxlist .note-icon	{
	float: left; padding: 1px 6px; background-color: #6c5f5c; border-radius: 50%; box-shadow: 0 0 0 2px #fff;
	color: white; line-height: 26px;
}

.inbox-notes #inboxlist .note-subject	{
	min-height: 20px;
	color: #6c5f5c;
}

.inbox-notes #inboxlist .list li.active .content,
.inbox-notes #inboxlist .list li.active .date{
	color: #5b514e;
}

.inbox-notes #inboxlist .list li .content{
	padding-top: 15px;
}


/* Inbox Container */
#inbox main	{
	width: 98.8%; margin-left: 1.2%; margin-top: 12px;
}

/* Inbox Message */
#inbox main .message	{
	background: white; box-shadow: 0 0 3px #d6d6d6;
}

#inbox main .message .scroller	{ padding-right: 0 !important; }

#inbox main .message-header	{ background: #aaa; }

#inbox main .message-header .inherit	{ padding: 10px; font-weight: 300; }

#inbox main .message-header img.avatar {
	float: left; margin: -2px 8px 4px 0; width: 30px; height: 30px;  background-color: #fff; border: 2px solid white; border-radius: 50% !important; 
}

#inbox main .message-header a {
	color: inherit; font-weight: bold;
}

#inbox main .message-header .date {
	display: block; font-size: 12px;
}

#inbox main .message-header i {
	opacity: .5; font-size: 21px; float: right; 
}

#inbox main .message-body	{
	padding: 12px 18px; min-height: 20px;
}

#inbox main .attachment-image	{
	padding: 2px; border: 1px solid #eee; margin: -2px 0 0 10px; max-width: 33%; max-height: inherit; 
}

#inbox main .attachment-link	{
	padding: 2px 8px; display: inline; border-radius: 20px !important; background: #d9edf7;
}

#inbox main .attachment-link i	{
	color: white; padding-right: 2px;
}

#inbox main .inbox-video {
	margin: 2px 5px; width: 200px; height: 120px; background: black center no-repeat; background-size: 100%; border-radius: 2px !important;
}

#inbox main .inbox-video.inactive:after {
	position: relative; left: 82px; top: 50px;
	font-family: FontAwesome; font-size: 28px; color: rgba(255,255,255, .8); text-shadow: 0 2px rgba(0,0,0, .1);
	content: "\F16A"; -webkit-font-smoothing: antialiased;
}

#inbox main .message-actions	{ clear: both; padding: 5px 18px; }

#inbox main .message-actions div	{
	position: relative; top: -5px; display: inline;
}

#inbox main .message-comments	{
	padding: 10px; border-top: 1px solid #ddd;
}

#inbox main .comments-pointer	{
	position: relative; width: 12px; height: 12px; top: 6px; left: 20px; background: #d9edf7; -webkit-transform: rotate(45deg);
}

#inbox main .message-comments ul	{
	margin-left: 0; background: #d9edf7;
}

#inbox main .message-comments i.icon-cloud-download	{
	color: white; padding: 0 4px 4px 2px;
	-webkit-animation-duration: 1.2s; -webkit-animation-name: opacitypulse; -webkit-animation-iteration-count: infinite;
}

#inbox main .message-comments li	{ padding: 10px; }

#inbox main .message-comments li:nth-child(even)	{ background:#e0f0f8; }

#inbox main .message-comments li.active	{
	background:#b1e2ec; border: solid white; border-width: 1px 0;
}

#inbox main .message-comments li:first-child.active	{
	background: none; border-top-width: 0;
}

#inbox main .message-comments img.avatar {
	margin-top: -3px; width: 18px; height: 18px; border: 2px solid white;  background-color: #ddd; border-radius: 50% !important; 
}

#inbox main .message-comments img {
	max-height: 22px; 
}

#inbox main .message-comments p { display: inline; }

#inbox main .comment-info {
	color: #aac1cd; font-size: 12px;
}

/* Inbox related messages */
#inbox main .related-messages	{
	list-style: none; margin-left: 0;
}

#inbox main .related-messages > li	{
	margin-top: 10px; background: white; box-shadow: 0 0 3px #d6d6d6;
}

#inbox main .related-messages img.avatar {
	margin-top: -2px; width: 24px; height: 24px; border: 0;  background-color: #ddd; border-radius: 50% !important; 
}

/* Inbox Note */

.inbox-container .note, .messagelist .note {
	background: #faf8bf !important; box-shadow: 0 0 3px #d6d6d6;
	position: relative;
	margin-top: 70px;
}

#compose.viewcontact #inboxlist .list li.note{
	margin: 20px 30px 20px 37px;
	padding: 0px;
}

.inbox-container .note:before, .messagelist .note:before{
	content: "";
	position: absolute;
	top: -50px;
	right: 0;
	border-width: 50px 0 0 80px;
	border-style: solid;
	border-color: transparent #e5e282;
}

.inbox-container .note:after{
	content: "";
	position: absolute;
	top: -60px;
	right: 40px;
	border-width: 60px 0px 0px 40px;
	border-style: solid;
	border-color: transparent #eee;
}

.inbox-container .note.nocontext, .messagelist .note.nocontext{
	margin-top: 10px;
}

.inbox-container ul.related-messages .note:before,
.inbox-container ul.related-messages .note:after,
.inbox-container .note.nocontext:after,
.inbox-container .note.nocontext:before{
	border: none;
}

.inbox-container .note .scroller	{ padding-right: 0 !important; }

.inbox-container .note .note-header, .messagelist .note .note-header{
	padding: 8px 10px; background-color: #F2F0A0;
	color: #6c5f5c;
	border-bottom: 1px dashed #D3D2A1;
	min-height: 30px;
}
.inbox-container .note .note-header > span, .messagelist .note .note-header > span{
	font-weight: bold;
	line-height: 30px;
}

.inbox-container .note-icon, .messagelist .note-icon {
	padding: 2px 6px; color: white; border-radius: 50%; border: 2px solid white;
}

.inbox-container .note-header .inherit, .messagelist .note-header .inherit { padding: 10px; font-weight: 300; }

.inbox-container .note .note-header img.avatar, #inboxlist .messagelist .note .note-header img.avatar {
	float: left; margin: -2px 8px 4px 0; width: 30px; height: 30px;  background-color: #fff; border: 2px solid white; border-radius: 50% !important; 
}

.inbox-container .note-header a, .messagelist .note-header a {
	color: inherit; font-weight: bold;
}

.inbox-container .note-header .date, #inboxlist .messagelist .note-header .date {
	display: block; font-size: 12px;
	font-style: italic;
	opacity: .8;
	padding-right: 10px;
	margin-top: 7px;
	width: auto;
}

/*.inbox-container .note-header i, .messagelist .note-header i {
	opacity: .5; font-size: 14px; float: right;
}*/

.inbox-container .note-body, .messagelist .note-body {
	padding: 12px 18px; min-height: 20px;
}

#inboxlist .messagelist .note .message-actions{
	padding: 5px 18px;
}

.inbox-container .single-contact{
	background: white; box-shadow: 0 1px 2px rgba(0,0,0,.1);
	padding: 15px; position: relative; border-right: 5px solid;
	cursor: pointer;
}

.inbox-container .single-contact .avatar{
	width: 100px;
	height: 100px;
	overflow: hidden;
	background-color: #ddd;
	border-radius: 50% !important;
	float: left;
}

/*.inbox-container .single-contact .network-icon{
	width: 100px; 
	background-color: rgba(0,0,0,.12); 
	position: absolute; 
	height: 100%; 
	top: 0px; right: 0px;
	padding-top: 20px;
	text-align: center;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
*/
.inbox-container .single-contact i{
	font-size: 80px;
	position: absolute;
	top: 25px;
	opacity: .05;
	right: 20px;
}

.inbox-container .single-contact .name{
	font-size: 16px;
	color: #005580;
	margin-top: 30px;
	margin-left: 20px;
	float: left;
}

.inbox-container .single-contact .muted{
	font-size: 12px;
}

.single-contact.facebook-color{	border-color: #3b5998; }
.single-contact.youtube-color{		border-color: #CC181E; }
.single-contact.twitter-color{ 	border-color: #01a9da; }
.single-contact.linkedin-color{	border-color: #1783BC; }
.single-contact.tumblr-color{ 		border-color: #385775; }
.single-contact.google-plus-color{ border-color: #DD4C39; }
.single-contact.web-color{ 		border-color: #ff9c00; }
.single-contact.blog-color{		border-color: #ff9c00; }
.single-contact.briefcase-color{ 	border-color: #4a4a4a; }

div[class^="context-icon-"]{
	width: 18px;
	height: 18px;
	padding: 1px 2px;
	margin: 0 0 0 8px;
	background-color: #E5E282;
	border-radius: 2px !important;
	color: white;
	text-align: center;
}

div[class^="context-icon-"]:before{
	font-family: FontAwesome;
	content: "";
	font-size: 16px;
}

div.context-icon-contact:before{
	content: "\F007";
}

div.context-icon-message:before{
	content: "\f0e0";
}

div.context-icon-account:before{
	content: "\F0c2";
}
div.context-icon-comment:before{
	content: "\f0e0";
}