/***
Settings
***/

/* Profile settings */
.profile div.avatar-big	{
	width: 280px; height: 280px; margin: 10px auto; background: no-repeat center; border-radius: 50% !important; overflow: hidden;
}

.avatar-big	{ background-size: 100% auto !important; }

.settings-profile input[type=file]	{ display: none; } 


/* Manage users */
.profile .settings-users .user-container td	{ padding: 12px 4px 4px; }

.profile .settings-users .user-container img.avatar	{
	display: block; width: 34px; height: 34px; margin: -8px 0 3px; background-color: #ddd;
}

.profile .settings-users .user-container td i	{
	font-size: 20px; color: #777; padding: 1px 0 0 4px; cursor: pointer;
}

.profile .settings-users .user-container td i:hover	{ color: #333; }

.profile .settings-users input[type=text]	{
	margin-bottom: 0px; padding: 6px 10px;
}

/* Account Settins */




/*
	Social Connections
*/

/* networks list */

.settings-social .btn-social	{
	display: block; padding: 4px 15px; margin: 20px 0 8px; background: white; border-radius: 2px !important; border: 1px solid #dfdfdf; border-bottom-width: 3px;
	font-size: 16px; line-height: 2.3em; color: #666; font-family: inherit;
}

.settings-social .btn-social:nth-child(1)	{ margin-top: 0; }

.settings-social .btn-social:hover	{
	background-color: #f6f6f6 !important; padding-bottom: 6px; border-bottom-width: 1px; 
}

.settings-social .btn-social i	{
	float: left; padding-right: 15px; margin-right: 10px; border-right: 1px solid #eee;
	font-size: 17.5px; line-height: 2.142em;
}



/* social connections */

#service-connected	{ overflow: hidden; }

#service-connected .portlet-body	{
	width: 200%; box-sizing: border-box; -webkit-transform: translate3d(0px, 0px, 0px);
	-webkit-transition-property: all; -webkit-transition-duration: 400ms; -webkit-transition-timing-function: cubic-bezier(0.12, .8, 0, 1);
}

#service-connected.open-detail .portlet-body	{
	-webkit-transform: translate3d(-50%, 0px, 0px);
	-webkit-transition-property: all; -webkit-transition-duration: 400ms; -webkit-transition-timing-function: cubic-bezier(0.12, .8, 0, 1);
}

#service-connected ul.services	{
	float: left; width: 50%; box-sizing: border-box;
}

#service-connected .service-detail	{
	float: left; width: 50%; padding: 0 10px 10px 20px; background: white; box-sizing: border-box;
	-webkit-font-smoothing: subpixel-antialiased; -webkit-perspective: 1000;
}

#service-connected .service-detail h3	{
	margin-bottom: 0;
}

.service-authenticate	{
	margin: 20px 0 8px; padding: 10px 7px; border: 1px solid #efefef; box-shadow: 0 1px 0 #f6f6f6; border-radius: 2px;
	text-align: center;
}

#service-connected .no-list	{
	margin-top: 28px; 
}

#service-connected .btn-white,
#service-connected .btn-black	{
	padding: 8px 24px; border-radius: 2px; cursor: pointer;
	font-size: 14px;
}

#service-connected .btn-black	{
	padding: 8px 12px; background: #222; color: white; text-shadow: 0 1px 0 black;
}

#service-connected .service-profiles	{
	margin-top: 12px; 
}

#service-connected .service-profiles li	{
	font-size: 14px; line-height: 2em;
}

#service-connected .service-profiles li > div	{
	width: 28px; height: 26px; background: no-repeat center; background-size: 100%; border-radius: 2px; border: 1px solid #ddd;
}

#service-connected .service-profiles li.inactive > div	{ opacity: .2; }


/*#service-connected ul.services,
#service-connected ul.servicedetail,
#service-connected.open-detail ul.services,
#service-connected.open-detail ul.servicedetail	{
-webkit-transition-property: all; -webkit-transition-duration: 400ms; -webkit-transition-timing-function: cubic-bezier(0.12, .8, 0, 1);
}

#service-connected ul.services	{ -webkit-transform: translate3d(0px, 0px, 0px); float: left; width: 100%; }

#service-connected ul.servicedetail	{ margin-left: 100%; background: red; width: 100%; min-height: 200px;  }


#service-connected.open-detail ul.services	{ -webkit-transform: translate3d(-102%, 0px, 0px); }

#service-connected.open-detail ul.servicedetail	{ -webkit-transform: translate3d(-100%, 0px, 0px); }*/

#service-connected .service	{
	padding: 8px 8px 8px 12px; cursor: pointer; border-bottom: 1px solid #ddd;
	font-size: 14px;
}

#service-connected .service > span	{ color: #ccc; }

#service-connected .service > span i	{ color: #222; }



.settings-social .social-container	{
	font-size: 1.077em;
}

.settings-social .social-container i	{ font-size: 1.5em; }

.settings-social .social-container td.tools i	{
	font-size: 1.429em; color: #777; padding: 1px 0 0 4px; cursor: pointer;
}

.social-container td[data-service-container] form	{ margin-bottom: 0; }

table.inner-service	{ width: 100%; }

table.inner-service td	{
	width: 50%; border-width: 0; background-color: transparent !important;
}

table.inner-service input[type=checkbox]	{
	margin: -2px 5px 0 0;
}

table.inner-service h3	{
	font-size: 1.429em; margin-top: -8px;
}

table.inner-service .white-box	{
	padding: 10px; background: white !important;
}

table.inner-service .white-box.center	{ text-align: center; }

table.inner-service .white-box legend	{ font-size: 1.143em; }

table.inner-service .white-box input[type=text]	{
	width: 100%; height: 32px; box-sizing: border-box;
}

/*
	Defaults
*/

.profile {
  position:relative;
}

.profile p {
  color:#636363;
  font-size:13px;
}

.profile p a {
  color:#169ef4;
}

.profile label {
  margin-top:10px;
}

.profile label:first-child {
  margin-top:0;
}

/*profile info*/
.profile-classic .span2 {
  position:relative;
}

.profile-classic .span2 a {
  top:0;
  right:0;
  margin:0;
  color:#fff;
  opacity:0.6;
  padding:0 9px;
  font-size:11px;
  background:#000;
  position:absolute;
  filter:alpha(opacity=60); /*for ie*/
}
.profile-classic .span2 img {
  margin-bottom:15px;
}

.profile-classic li {
  padding:8px 0;
  font-size:13px;
  border-top:solid 1px #f5f5f5;
}

.profile-classic li:first-child {
  border-top:none;
}

.profile-classic li span {
  color:#666;
  font-size:13px;
  margin-right:7px;
}

/*profile tabs*/
.profile .tabbable-custom-profile .nav-tabs > li > a {
  padding:6px 12px;
}


/*profile navigation*/
.profile ul.profile-nav {
  margin-bottom:30px;
}

.profile ul.profile-nav li {
  position:relative;
}

.profile ul.profile-nav li a {
  color:#557386;
  display:block;
  font-size:14px;
  padding:8px 10px;
  margin-bottom:1px;
  background:#f0f6fa;
  border-left:solid 2px #c4d5df;
}

.profile ul.profile-nav li a:hover {
  color:#169ef4;
  background:#ecf5fb;
  text-decoration:none;
  border-left:solid 2px #169ef4;
}

.profile ul.profile-nav li a.profile-edit {
  top:0;
  right:0;
  margin:0;
  color:#fff;
  opacity:0.6;
  border:none;
  padding:0 9px;
  font-size:11px;
  background:#000;
  position:absolute;
  filter:alpha(opacity=60); /*for ie*/
}

.profile ul.profile-nav li a.profile-edit:hover {
  text-decoration:underline;
}

.profile ul.profile-nav a span {
  top:0;
  right:0;
  color:#fff;
  font-size:20px; 
  padding:8px 13px;
  position:absolute;
  background:#169ef4;
}

.profile ul.profile-nav a:hover span {
  background:#0b94ea;
}

/*profile information*/
.profile-info h1 {
  color:#383839;
  font-size:24px;
  font-weight:400;
  margin:-11px 0 10px 0;
}

.profile-info ul {
  margin-bottom:15px;
}

.profile-info li {
  color:#6b6b6b;
  font-size:13px;
  margin-right:15px;
  margin-bottom:5px;
  padding:0 !important;
}

.profile-info li i {
  color:#b5c1c9;
  font-size:15px;
}

.profile-info li:hover i {
  color:#169ef4;
}

/*profile sales summary*/
.sale-summary ul {
  margin-top:-12px;
}
.sale-summary li {
  padding:10px 0;
  overflow:hidden;
  border-top:solid 1px #eee;
}

.sale-summary li:first-child {
  border-top:none;
}

.sale-summary li .sale-info {
  float:left;
  color:#646464;
  font-size:14px;
  text-transform:uppercase;
}

.sale-summary li .sale-num {
  float:right;
  color:#169ef4;
  font-size:20px;
  font-weight:300;
}

.sale-summary li span i {
  top:1px;
  width:13px;
  height:14px;
  margin-left:3px;
  position:relative;
  display:inline-block;
}

.sale-summary li i.icon-img-up {
  background:url(../../img/icon-img-up.png) no-repeat !important;
}

.sale-summary li i.icon-img-down {
  background:url(../../img/icon-img-down.png) no-repeat !important;
}

.sale-summary .portlet-title h4 {
  color:#383839;
  font-size:18px;
}

.sale-summary .portlet-title {
  border-color:#c9c9c9;
}

/*latest customers table*/
.profile .table-advance thead tr th {
  background:#f0f6fa;
}

.profile .table-bordered th, 
.profile .table-bordered td,
.profile .table-bordered {
  border-color:#e5eff6;
}

.profile .table-striped tbody > tr:nth-child(2n+1) > td, 
.profile .table-striped tbody > tr:nth-child(2n+1) > th {
  background:#fcfcfc;
}

.profile .table-hover tbody tr:hover td, 
.profile .table-hover tbody tr:hover th {
  background:#f5fafd;
}

/*add portfolio*/
.add-portfolio {
  overflow:hidden;
  margin-bottom:30px;
  background:#f0f6fa;
}

.add-portfolio .pull-left,
.add-portfolio .pull-right {
  padding:12px 14px;
}

.add-portfolio .pull-left {
  color:#555d69;
  font-size:20px;
}

.add-portfolio .pull-left span {
  top:8px;
  position:relative;
}

.add-portfolio .pull-right i {
  margin-left:5px;
}

/*portfolio block*/
.portfolio-block {
  background:#f7f7f7;
  margin-bottom:15px;
}

.portfolio-block .span5 {
  overflow:hidden;
}

/*portfolio text*/
.portfolio-text {
  overflow:hidden;
}

.portfolio-text h4 {
}

.portfolio-text img {
  float:left;
  margin-right:15px;
}

.portfolio-text .portfolio-text-info {
  overflow:hidden;
}

/*portfolio button*/
.portfolio-btn a {
  display:block;
  padding:28px 0;
  background:#ddd !important;
}

.portfolio-btn a:hover {
  background:#1d943b !important;
}

.portfolio-btn span {
  color:#fff;
  font-size:22px;
  font-weight:200;  
}

/*portfolio info*/
.portfolio-info {
  float:left;
  color:#616161;
  font-size:12px;
  padding:12px 25px;
  margin-bottom:5px;
  text-transform:uppercase;
}

.portfolio-info span {
  color:#16a1f2;
  display:block;
  font-size:30px;
  margin-top:5px;
  font-weight:200;
  text-transform:uppercase;
}

/*portfolio settings*/
.profile-settings {
  background:#fafafa;
  padding:15px 8px 0;
  margin-bottom:5px;
}

.profile-settings p {
  padding-left:5px;
  margin-bottom:3px;
}

.profile-settings .controls > .radio, 
.profile-settings .controls > .checkbox {
  font-size:12px;
  margin-top:2px !important;
}
