/* Charts styling*/

.title-separator{
    height: 4px;
    background-color: #3D3D3D;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 30px;
}

.titleseparator{
    margin-top: 25px;
}

#fork {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.legend {
    width: 100%;
}

.legend .title {
    display: block;
	margin: 5px;
	border-style: solid;
	border-width: 0px 0px 0px 20px;
	padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chart-wrapper{
    width: 100%;
    position: relative;
    height: 250px;
    padding: 30px 0px 0px 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 50px;
}

.chart-bar{
    height: 100%;
    width: 14%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 5px;
    float: left;
}

.bar-wrapper{
    height: 100%;
    width: 100%;
    background-color: #e5e5e5;
    position: relative;
}

.bar-fill{
    width: 100%;
    height: 0%;
    position: absolute;
    bottom: 0px;
    background-color: #25A6C1;
    -webkit-transition: height .15s ease-out;
}

.bar-legend{
    width: 100%;
    position: absolute;
    bottom: -30px;
    text-align: center;
    font-size: 13px;
}

.bar-text{
    text-align: center;
    position: relative;
    top: 45%;
    font-size: 13px;
    color: #ffffff;
}

.navigate-buttons{
    float: right;
}

#cal-heatmap{
    margin-top: 50px;    
}

.bigdata{
    margin-top: 25px;
}

.bigdata #cal-heatmap{
    margin-top: 20px;
}

.graph-label{
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px !important;
    fill: #000 !important;
}

.subdomain-text{
    fill: #666 !important;
    font-size: 10px !important;
}

.q1{background-color: #2bbedc !important; fill: #2bbedc !important; }
.q2{background-color: #2CA7C0 !important; fill: #2CA7C0 !important; }
.q3{background-color: #2E90A4 !important; fill: #2E90A4 !important; }
.q4{background-color: #2F7988 !important; fill: #2F7988 !important; }
.q5{background-color: #30616B !important; fill: #30616B !important; }


