.tag-list {
	width: 100%;
	margin-left: 0;
	margin-top: 5px;
	margin-bottom: 0px;
	cursor: default;
	min-height: 32px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.actions-left{
	float: left;
    min-width: 50px;
}

.inbox-container .message-actions .actions-left div {
	top: 0px !important;
	vertical-align: top;
	display: inline-block;
}

.inbox-container .message-actions .actions-left .btn-white,
.inbox-container .message-actions .actions-right .btn-white{
	margin-left: 3px;
}

.message-tags{
	overflow: hidden;
	text-align: right;
	float: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.message-tags * {
	font-size: 12px !important;
}
.message-tags .btn-white{
	margin-top: 7px;
	line-height: 18px;
	margin-left: 3px;
}
div.btn-white.pull-right {
	margin-top: 12px;
	margin-bottom: -3px !important;
	margin-left: 2px;
}
.tag-cloud {
    background: #999999;
    -webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 21px;
    margin: 2px 0px 2px 3px;
    padding: 1px 4px 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    cursor: default;
}
.message-tags.enabled .tag-cloud {
	cursor: pointer;
}
.message-tags.enabled .tag-cloud:after {
    color: #000000;
    content: " ×";
    font-size: 20px;
    font-weight: bold;
    line-height: 16px;
    opacity: 0.2;
	position: relative;
    text-shadow: 0 1px 0 #FFFFFF;
	top: 1px;
}
.tag-input-append {
	margin-top: 10px;
	margin-bottom: -8px;
	float: right;
	display: none !important;
}
.message-tags .tag-input-append button{
	background-color: #fff;
	margin:-14px 0px;
}
.tag-input-append input{
	margin-top: -3px;
	border-radius: 0px;
	padding: 3px;
	width: 150px;
}
.message-tags.enabled .tag-input-append {
	display: block !important;
}
.inbox-container .message-actions i:before{
	cursor: pointer;
}
.inbox-container .message-actions div{
	vertical-align: top;
	z-index: 2;
}
.message-notes{
	border-top: 1px solid #ddd;
}
.info-tags{
	cursor: default;
}
.info-tags:hover{
	color: #4a4a4a;
}
/* Colors */

.tag-cloud.tag-cloud-info {
	color: #999;
	background: #eee !important;
	box-shadow: inset 0 1px #e0e0e0;
	font-weight: normal;
	text-shadow: none;
	border: 1px solid #ddd;
	box-shadow: 0 1px #eee;
	padding: 3px 10px 2px 10px !important;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
	        border-radius: 0px;
	margin-left: 3px !important;
}
.tag-cloud.tag-cloud-info:hover {
	color: #4a4a4a;
	background: none !important;
	box-shadow: none;
	cursor: pointer;
}
.message-tags.enabled .tag-cloud {
	color: #4a4a4a;
	background: none !important;
	box-shadow: none;
}
.ui-autocomplete, .ui-autocomplete-input{
	border-radius: 0px;
	background: #fff;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
}
.ui-autocomplete .ui-state-focus
{
    color:#000;
    background:rgba(217,237,247,0.7);
    outline-color: transparent !important;
    box-shadow: none;
    display:block;
    border: 1px solid transparent;
    border-radius: 0px;
}
.ui-autocomplete *:focus {outline:none;}

/* Tags Aside */
#compose aside .message-tags .btn-white{
	background: #fff;
	padding: 4px 10px;
	margin-left: 3px;
	margin-top: 2px;
	border: 1px solid #ccc;
}
#compose .message-tags{
	/*width: 90%;*/
	margin-right: 12px;
	margin-top: 10px;
}
#compose #tags{
	height: 28px;
	margin: 2px 0 2px 0;
	width: 195px;
	background-color: #fff;
	padding: 2px;
}
#compose aside .message-tags button.btn-white{
	padding: 4px 12px 4px 11px;
	margin: -1px 0 0 0;
}

#compose .inbox-container .message-tags{
	width: 80%;
	margin-right: 0;
	margin-top: -7px;
}
#compose .inbox-container div.btn-white.pull-right{
	margin-top: 7px
}
#compose .inbox-container .tag-input-append {
	margin-top: 5px;
	margin-bottom: 3px;
}
#compose .inbox-container button{
	margin-top: -1px;
}
#compose .inbox-container .message-actions .actions-left div{
	top: 0px !important;
}
.related-messages .btn-white{
	padding-left: 9px;
	padding-right: 8px;
}

.related-messages .actions-left{
 	margin-bottom: 14px;
}

aside .tag-input-append{
	margin-top: 0;
	margin-bottom: 5px;
}
.inbox-container .message-actions .actions-left [data-action='note-compound'], .inbox-container .message-actions .actions-left [data-action='note-list']{
	display: none;
}
.inbox-container .message-actions .message-tags .action-right{
	display: none;
}
.inbox-container .message-actions .message-tags [data-action='note-compound'], .inbox-container .message-actions .message-tags [data-action='note-list']{
	display: inline-block !important;
}

/* Google Plus Edit action fix */
.inbox-container .google-plus-color .message-actions [data-action="comment"]{
	display: none !important;
}