/***
Style corrections and manual overrides
***/

/* Modal */

.modal.modal-popup	{
	width: 75%; margin-left: -37.5%; margin-bottom: 50px;
}

.modal.modal-popup .accordion	{
	padding: 0 .4%; clear: both;
}

.modal-popup .modal-footer	{
	clear: both; text-align: left; 
}

.modal-popup .btn.blue	{ background-color: #2bbedc; }

.modal-popup .btn.blue:hover	{ background-color: #4a4a4a !important; }

/* Write */

.send-message i.icon-envelope-alt	{ margin-top: 1px !important; }

.write h3	{ line-height: 1em; margin-bottom: 20px; }

.write label	{
	font-size: 14px; color: #666;
}

.write textarea	{
	width: 100%; min-height: 120px; box-sizing: border-box; border-radius: 2px; border-color: #ddd;
	font-size: 16px; color: #222;
}

.write #counter	{
	display: inline; background-color: #e6e6e6; border-radius: 5px; padding: 5px 8px;
	color: white; font-size: 18px; line-height: 1.5em;
}

.write-extras	{
	width: 65%; margin-bottom: 2px;
}

.write-extras .accordion-body	{
	padding-left: 10px; margin-bottom: 5px; border-left: 1px solid #eee;
}

.write hr	{ clear: both; margin: 20px 0 10px; }

.write-streams	{
	list-style: none; margin-left: 0;
}

.write-streams li.btn-white	{
	float: left; width: 19.2%; padding: 6px 10px; margin: 0 .4% 5px; border-radius: 2px; box-sizing: border-box;
	font-size: 14px; 
}

.write input[name="subject"]	{
	width: 100%; height: 28px; box-sizing: border-box;
}

.modal.modal-popup .write a[data-toggle].btn.blue.disabled	{
	color: #aaa !important; background-color: #eee !important;
}

#schedule	{
	position: relative; top: 12px; padding: 0 20px; margin: 12px 0; background: #f6f6f6; border-radius: 4px; box-sizing: border-box;
}

#schedule .border-right	{ border-right: 1px solid white; }

#schedule > div > div	{ margin-bottom: 10px; }

#schedule label	{
	display: inline; padding: 0 10px; line-height: 1em;
}


.message-schedule .checkbox	{ padding-left: 25px !important; }
.message-schedule .checkbox input	{ margin-top: -4px !important; }


#repeat	label.inactive, #repeat select.inactive {
	opacity: .25;
}

#schedule input		{ margin: 0; }
#schedule select	{ margin: 0 0 0 7px; }
#schedule input[type=radio]	{ margin: -4px 0 0; }
#schedule input[type=time]	{ width: 75px; }
#schedule input[type=checkbox]	{ margin: -2px 0 0 58px; }
#schedule label[for=besttime]	{ line-height: 2.4em; }

#repeat	input[type=number]	{
	margin: 0 4px; width: 35px;
}

#repeat	input[type=text]	{
	margin: -3px 4px 0;
}

#repeat	select {
	margin: 0 2px; width: 90px;
}

#repeat	label { padding: 0; }

@media (max-width: 1240px)	{
	.modal.modal-popup	{ width: 90%; margin-left: -45%; }
	#repeat	select { width: 80px; }
	#schedule #start	{ width: 120px;  }
	#schedule input[type=time]	{ width: 70px; }
}

@media (max-width: 920px)	{
	#repeat	select { width: 60px; margin: 0; }
	#repeat	input[type=number]	{  width: 30px; margin: 0 2px; }
}

