@charset "UTF-8";

.login #header	{
	height: 8px; overflow: hidden;
}

.login .brand	{
	margin: 28px auto; width: 340px;
}

.login .brand > img	{ width: 100%; }

.login iframe	{
	display: block; margin: 0 auto; width: 340px; height: 422px; background-color: #2bbedc; border: 0; border-radius: 10px; 
}

.login .cover-body	{
	max-width: 800px; margin: 20px auto; color: #aaa; text-align: center; text-shadow: 1px 0 3px rgba(0,0,0, .02);
}