<div class="pull-right {{^listname}}no-list{{/listname}}">
	<span class="btn-white close-detail">{{translate_done}}</span>
	<span class="btn-white delete-detail">{{translate_delete}}</span>
</div>

<div class="service-authenticate {{#listname}}pull-right clearfix{{/listname}}{{^listname}}pull-left{{/listname}}">
{{#valid}}

	{{translate_connected_to}} {{account}}<br><br>
	<a href="{{authurl}}" class="btn-black">{{translate_reauthenticate_user}}</a>

{{/valid}}
{{^valid}}

	{{account}} {{translate_is_not_connected}}<br><br>
	<a href="{{authurl}}" class="btn-black">{{translate_authenticate_user}}</a>

{{/valid}}
</div>

{{#listname}}

	<h3>{{listname}}</h3>
	<small>{{translate_to_add}} {{network.name}} {{listname}} {{translate_to_your_cloudwalkers_account_select_them_below}}.</small>
	
	<ul class="service-profiles clearfix">
		{{#profiles}}
			<li data-id="{{id}}" class="btn-white {{#activated}}active{{/activated}}{{^activated}}inactive{{/activated}}">
				<div class="service-thumbnail pull-right" style="background-image:url({{avatar}});"></div><i class="icon-{{network.icon}}"></i> {{displayname}}
			</li>
		{{/profiles}}
	</ul>

{{/listname}}

<!--<form>

	<fieldset>

		<legend>
			General

			<a class="btn black pull-right" href="javascript:void(0);" data-delete="1">{{translate_delete}}</a>
			<button type="submit" class="btn blue pull-right">{{translate_save}}</button>
		</legend>

		<table class="inner-service">
			<tbody>
				<tr>
					<td>
					{{#groupedsettings.string}}
						<label>{{name}}</label>
						<input type="text" value="{{value}}" name="{{key}}" data-channel-setting="1" />
						<hr>
					{{/groupedsettings.string}}

					{{#groupedsettings.boolean}}
						<input type="checkbox" value="1" name="{{key}}" {{#value}}checked="checked"{{/value}} data-channel-setting="1" />
						{{name}}
					{{/groupedsettings.boolean}}
					</td>

					<td class="white-box center">
					{{#groupedsettings.message}}
						<p>{{message}}</p>
					{{/groupedsettings.message}}

					{{#groupedsettings.link}}
						<a href="{{url}}" target="_blank" class="btn black">{{name}}</a>
					{{/groupedsettings.link}}
					</td>
				</tr>

				{{#parsedstreams.length}}

				<tr>
					<td colspan="2">
						<legend>Streams</legend>
					</td>
				</tr>

				{{/parsedstreams.length}}


				{{#parsedstreams}}
				    {{> service_stream }}
				{{/parsedstreams}}

			</tbody>
		</table>

	</fieldset>





</form>-->