/* Keyframes */
@-webkit-keyframes bluepulse {
	0% { color: #2bbedc; }	50% { color: #c5e3ee; }	100% { color: #2bbedc; }
}

@-webkit-keyframes opacitypulse {
	0% { opacity: 1; }	50% { opacity: 0; }	100% { opacity: 1; }
}

.container-loading {
	width: 120px;
	margin: 120px auto;
	font-size: 2.5em;
	color: #2bbedc;
	text-align: center;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-name: bluepulse;
	-webkit-animation-iteration-count: infinite;
}