

/* Dashboardwidget specific entry */
.panel.dashboardwidget .avatar{
	display: none;
}

/* Messages-counter entries */
.panel.messages-counter .messages-container .entry {	
	border-bottom-width: 0;
	font-size: 14px;
}

.panel.messages-counter .messages-container > a:last-child .entry {
	border-bottom-width: 1px;
}

.panel.messages-counter .entry {	
	min-height: inherit;
}

.panel.messages-counter .entry i {	
	font-size: 18px;
	float: left;
	padding: 2px 4px 0 0;
	width: 1.25em;
	text-align: center;
}

