
.dashboard-stat{
	margin-bottom: 25px;
	background-color: #eee;
	color: #fff;
}

/* Color defaults */
.dashboard-stat.twitter-color		{ background-color: #01a9da; }
.dashboard-stat.facebook-color		{ background-color: #3B5998; }
.dashboard-stat.linkedin-color		{ background-color: #1783BC; }
.dashboard-stat.tumblr-color		{ background-color: #385775; }
.dashboard-stat.google-plus-color	{ background-color: #DD4C39; }
.dashboard-stat.youtube-color		{ background-color: #CC181E; }
.dashboard-stat.web-color			{ background-color: #ff9c00; }
.dashboard-stat.blog-color			{ background-color: #ff9c00; }
.dashboard-stat.briefcase-color		{ background-color: #4a4a4a; }

.dashboard-stat .visual{
	display: block;
	float: left;
	font-size: 63px;
	padding-left: 15px;
}

.dashboard-stat .visual > i{
	color: #fff;
}

.dashboard-stat .more {
	clear: both;
	display: block;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 11px;
	color: #fff;
	opacity: 0.7;
	background-color: rgba(0,0,0,.12);
}

.dashboard-stat .more:hover{
	text-decoration: none;
	opacity: 1;

}

.dashboard-stat .more > i{
	margin-top: 4px;
}

.dashboard-stat .number{
	float:right;
	font-size: 28px;
	padding: 10px;
}

.dashboard-stat .desc{
	float: right;
	clear: right;
	margin-right: 10px;
}
