/*** Default style ***/

div[class^='pv-'], img{
	-webkit-transition: all .15s ease-out;
}

#preview, #preview > div{
	position: absolute; height: 100%; width: 100%;
}

#preview > div{ display: table;}

#pv-main{ position: relative; overflow: hidden; padding-right: 40px; display: table-cell; vertical-align: middle;}
#pv-watermark{ position: absolute; height: 100%; width: 96%; font-family: FontAwesome; font-size: 80px; color: #ddd; line-height: 2.2em; text-align: center;}
#pv-watermark span:after{content: "\F0ED";}
.fb #pv-watermark span:after{content: "\F09A";}
.gp #pv-watermark span:after{content: "\F0D5";}
.twt #pv-watermark span:after{content: "\F099";}
.li #pv-watermark span:after{content: "\F0E1";}

.pv-wrapper{ padding: 15px;	max-width: 600px; margin: 0px auto; opacity: 0;}

.pv-wrapper-wrap{ padding: 20px; border-radius: 4px; border: thin solid #eee; box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.1); background-color: #fff; }

.pv-header{	padding-bottom: 6px; border-bottom: thin solid #fff; height: 50px; opacity: 1; }

.pv-avatar{	float: left; width: 50px; height: 50px; margin-right: 10px;	overflow: hidden; }

.pv-title-wrap{ float: left; width: auto; }

.pv-title{ font-weight: bold; float: left; }

.pv-timestamp{ font-size: 12px;	color: #999; }

.pv-main-text{ margin: 10px 0px; }

.pv-url-content{ position: relative; height: auto;}

.pv-url-content > img, .pv-url-content-text{display: none;}

.pv-url-content-text{ padding: 10px; border: thin solid #ddd; }

.pv-url-title{ color: #333; }

.pv-bottom{	font-size: 10px; color: #999; background-color: #eee; padding: 15px; border: thin solid #eee; margin-top: 10px; }

.pv-buttons{ position: absolute; top: 0px; right: 0px; width: 150px; height: 100%; border-left: 1px solid #aaa; background-color: #fff; }

.pv-buttons.toload{	right: -150px; }

.pv-buttons h3{	margin: 10px 0;	color: #222; font-size: 18px; font-weight: 100; line-height: 32px; text-align: center; }

.pv-btn-area{ width: 100%; border-bottom: thin solid #eee;padding: 20px 10px; }

.clearfix{ clear: both;}

/*** Context style ***/

.gp .pv-wrapper-wrap, .li .pv-wrapper-wrap, .twt .pv-wrapper-wrap{ border: thin solid #fff; box-shadow: none; }

.fb{ background-color: #e9eaed; }
.fb .pv-header{ border-bottom: thin solid #eee; }
.fb.link .pv-url-content-text{ background-color: #f6f7f8; }
.fb.link .pv-url-text, .gp.link .pv-url-text{	color: #666; margin-top: 10px; }

.gp{ background-color: rgba(0,0,0,.2); }
.gp .pv-avatar{	border-radius: 25px; overflow: hidden; margin-top: -5px; }
.gp .pv-header, .gp .pv-main-text{ padding: 0px 20px; }
.pv-gpstripe{ background: repeat-x url("gp.png") 0 0; background-position-x: 1px; height: 0px; top: 1px; position: relative; width: 100%; left: 0px; margin-top: 0px; opacity: 0; display: none;}
.gp.link .pv-gpstripe{ height: 16px !important; margin-top: -15px; display: block;}
.gp.link .pv-url-content-text{ border: thin solid #eee; }

.li .pv-header{	height: 0px; opacity: 0; overflow: hidden; }
.li .pv-url-content{ display: none !important;}

.twt .pv-content{ padding-left: 62px; margin-top: -45px; } /* ugly but necessary (?) */
.pv-timestamp.pv-twt{ float: left; margin-left: 10px;} 

.twt.img .pv-url-content > img{
	width: 100%;
}
/* Split content view code*/
.twt.link .pv-url-content-text, .li.withlink .pv-url-content-text { float: left; width: 74%;	border: none; padding-left: 0px; }
.twt.link .pv-url-content > img, .li.withlink .pv-url-content > img{	float: right; width: 20%; margin-top: 15px; }
.twt #viewsummary{ margin-bottom: 10px;	margin-top: -5px; display: none;}
.twt.link .pv-url-title{ font-weight: bold; }
.twt.link .pv-url-content{display: none;}
.twt.link #viewsummary, .twt.link.img .pv-url-content{display: block;}
.twt.link.img #viewsummary{display: none;}

/* Image */
.fb.img .pv-url-content > img, .gp.img .pv-url-content > img, .twt.img .pv-url-content > img{display: block;}
.fb.link .pv-url-content > img, .gp.link .pv-url-content > img, .twt.link .pv-url-content > img, .fb.link .pv-url-content-text, .gp.link .pv-url-content-text, .twt.link .pv-url-content-text{display: block;}{display: block;}

/* triggers to hide & show data below */

/* Hack to animate on hide/show - only for the URL layout*/
.pv-20{	height: 0px; }
.twt .pv-twt.pv-20, .fb .pv-fb.pv-20, .gp .pv-gp.pv-20, .li .pv-li.pv-20{ height: 20px; }

.pv-twt, .pv-li, .pv-fb, .pv-gp{ opacity: 0; }
.twt .pv-twt, .fb .pv-fb, .gp .pv-gp, .li .pv-li{ opacity: 1; }


/* Progress bar */
#preview .progress-bar{ top:1px;}

.twt .progress-bar { background-color: #01a9da; }
.twt .tip {	-webkit-box-shadow: #01a9da 1px 0 4px 1px; }

.fb .progress-bar{ background-color: #3B5998; }
.fb .tip { -webkit-box-shadow: #3B5998 1px 0 4px 1px; }

.li .progress-bar {	background-color: #1783BC; }
.li .tip { -webkit-box-shadow: #1783BC 1px 0 4px 1px; }

.gp .progress-bar{ background-color: #DD4C39; }
.gp .tip { -webkit-box-shadow: #DD4C39 1px 0 4px 1px; }


/* Link specific styles */

.fb.link .pv-url-content, .gp.link .pv-url-content, .li.link .pv-url-content{display: block;}

.fb.withlink .pv-fb-link, .fb.link.img .pv-fb-link { opacity: 1; }
.fb.withlink .pv-fb-link.pv-20, .fb.link.img .pv-fb-link.pv-20{ height: 20px; }

.fb.withlink .pv-url-content{ overflow: hidden; height: 0; }

.twt.withlink .pv-url-content-text, .twt.withlink .pv-url-content > img{ width: auto; }

.li.withlink .pv-url-content{ display: block; }

.li.withlink .pv-url-title{ font-weight: bold; font-size: 16px; }

.li.withlink .pv-url-content-text{ float: right; }

.li.withlink .pv-url-content > img{ float: left; }

/* Link + URL specific*/

.fb.link.img .pv-url-content-text, .twt.link.img .pv-url-content-text, .gp.link.img .pv-url-content-text{ display: none; }
.fb.img .pv-url-content, .twt.link.img .pv-url-content, .gp.img .pv-url-content{ margin: 0 -16px; }

.twt.link.img .pv-url-content{ margin: 0px; }
.twt.link.img .pv-url-content > img{ width: 100%; }

.link.img .pv-gpstripe{ height: 0px; opacity: 0; }

/* Fonts & network specific styles*/

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fb .pv-title, .fb .pv-url-title{ color:#3B5998; font-weight: bold; }
.fb .pv-main{ color: #141823; }
.fb .pv-main a{ color: #3B5998; }

.gp .pv-main{ font-family: 'robotoregular'; }
.gp .pv-main-text{ font-size: 13px; color: #404040 }
.gp.link .pv-url-title{ font-size: 16px; font-weight: 300; }

.gp .pv-url-text{ font-size: 12px; color: #999; }

/* Overrides */
.btn-white{ margin-bottom: -1px !important; }

#compose.preview-mode .preview-container	{
	position: absolute;
	margin-top: 0%;
	height: 100%;
	left: 0px;
	top: 0px;
	width: 100%;
	-webkit-transform: translate3d(40px, 0px, 0px);
	-webkit-transition: background-color .15s ease-out;
	border-radius: 0px;
}

#compose.preview-mode .preview-container{
	background-color: #f5f5f5;
	border-left: 1px solid #ddd;
	/* -webkit-border-radius: 0 0 6px 6px; */
	-moz-border-radius: 0px;
	/* border-radius: 0 0 6px 6px; */
	-moz-box-shadow: inset 1px 0px 0 #fff;
	box-shadow: inset 1px 0px 0 #fff;
}

#compose.preview-mode .end-preview{
	border: none;
}

/* Loading states */
/* Loading - Show loading bar & network watermark */
#pv-main.pv-load .progress-bar{ width:110%; opacity: 1; -webkit-transition: all 1.2s ease-out;}

/* Loaded - Hide loading bar & show the actual preview */
#pv-main.pv-loaded .progress-bar {width: 0%; opacity: 0;}
#pv-main.pv-loaded .pv-wrapper{ opacity: 1;}

